<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="ceet-working-day-heading" data-cy="WorkingDayCreateUpdateHeading" ceetTranslate="ceetApp.workingDay.home.createOrEditLabel">
        Crear o editar Working Day
      </h2>

      <div>
        <ceet-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" ceetTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let startTimeRef = editForm.get('startTime')!;
        <div class="mb-3">
          <label class="form-label" for="field_startTime" ceetTranslate="ceetApp.workingDay.startTime">Start Time</label>
          <input type="text" class="form-control" name="startTime" id="field_startTime" data-cy="startTime" formControlName="startTime" />
          @if (startTimeRef.invalid && (startTimeRef.dirty || startTimeRef.touched)) {
            <div>
              @if (editForm.get('startTime')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('startTime')?.errors?.number"
                ceetTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        @let endTimeRef = editForm.get('endTime')!;
        <div class="mb-3">
          <label class="form-label" for="field_endTime" ceetTranslate="ceetApp.workingDay.endTime">End Time</label>
          <input type="text" class="form-control" name="endTime" id="field_endTime" data-cy="endTime" formControlName="endTime" />
          @if (endTimeRef.invalid && (endTimeRef.dirty || endTimeRef.touched)) {
            <div>
              @if (editForm.get('endTime')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('endTime')?.errors?.number"
                ceetTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_instructorWorkingDay" ceetTranslate="ceetApp.workingDay.instructorWorkingDay"
            >Instructor Working Day</label
          >
          <select
            class="form-control"
            id="field_instructorWorkingDay"
            data-cy="instructorWorkingDay"
            name="instructorWorkingDay"
            formControlName="instructorWorkingDay"
            [compareWith]="compareInstructorWorkingDay"
          >
            @if (editForm.get(['instructorWorkingDay'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (instructorWorkingDayOption of instructorWorkingDaysSharedCollection(); track $index) {
              <option [ngValue]="instructorWorkingDayOption">{{ instructorWorkingDayOption.nameWorkingDay }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['instructorWorkingDay'])!.invalid &&
          (editForm.get(['instructorWorkingDay'])!.dirty || editForm.get(['instructorWorkingDay'])!.touched)
        ) {
          <div>
            @if (editForm.get(['instructorWorkingDay'])?.errors?.required) {
              <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_day" ceetTranslate="ceetApp.workingDay.day">Day</label>
          <select class="form-control" id="field_day" data-cy="day" name="day" formControlName="day" [compareWith]="compareDay">
            @if (editForm.get(['day'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (dayOption of daysSharedCollection(); track $index) {
              <option [ngValue]="dayOption">{{ dayOption.dayName }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['day'])!.invalid && (editForm.get(['day'])!.dirty || editForm.get(['day'])!.touched)) {
          <div>
            @if (editForm.get(['day'])?.errors?.required) {
              <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span ceetTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span ceetTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
