<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="ceet-general-observation-heading"
        data-cy="GeneralObservationCreateUpdateHeading"
        ceetTranslate="ceetApp.generalObservation.home.createOrEditLabel"
      >
        Crear o editar General Observation
      </h2>

      <div>
        <ceet-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" ceetTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let numberRef = editForm.get('number')!;
        <div class="mb-3">
          <label class="form-label" for="field_number" ceetTranslate="ceetApp.generalObservation.number">Number</label>
          <input type="number" class="form-control" name="number" id="field_number" data-cy="number" formControlName="number" />
          @if (numberRef.invalid && (numberRef.dirty || numberRef.touched)) {
            <div>
              @if (editForm.get('number')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('number')?.errors?.number"
                ceetTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        @let observationGeneralRef = editForm.get('observationGeneral')!;
        <div class="mb-3">
          <label class="form-label" for="field_observationGeneral" ceetTranslate="ceetApp.generalObservation.observationGeneral"
            >Observation General</label
          >
          <input
            type="text"
            class="form-control"
            name="observationGeneral"
            id="field_observationGeneral"
            data-cy="observationGeneral"
            formControlName="observationGeneral"
          />
          @if (observationGeneralRef.invalid && (observationGeneralRef.dirty || observationGeneralRef.touched)) {
            <div>
              @if (editForm.get('observationGeneral')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('observationGeneral')?.errors?.maxlength) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.maxlength" [translateValues]="{ max: '500' }"
                  >Este campo no puede superar más de 500 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let juryRef = editForm.get('jury')!;
        <div class="mb-3">
          <label class="form-label" for="field_jury" ceetTranslate="ceetApp.generalObservation.jury">Jury</label>
          <input type="text" class="form-control" name="jury" id="field_jury" data-cy="jury" formControlName="jury" />
          @if (juryRef.invalid && (juryRef.dirty || juryRef.touched)) {
            <div>
              @if (editForm.get('jury')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('jury')?.errors?.maxlength) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.maxlength" [translateValues]="{ max: '500' }"
                  >Este campo no puede superar más de 500 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let dateAuditRef = editForm.get('dateAudit')!;
        <div class="mb-3">
          <label class="form-label" for="field_dateAudit" ceetTranslate="ceetApp.generalObservation.dateAudit">Date Audit</label>
          <div class="d-flex">
            <input
              id="field_dateAudit"
              data-cy="dateAudit"
              type="datetime-local"
              class="form-control"
              name="dateAudit"
              formControlName="dateAudit"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (dateAuditRef.invalid && (dateAuditRef.dirty || dateAuditRef.touched)) {
            <div>
              @if (editForm.get('dateAudit')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('dateAudit')?.errors?.datetimelocal"
                ceetTranslate="entity.validation.datetimelocal"
                >Este campo debe ser una fecha y hora.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_projectGroup" ceetTranslate="ceetApp.generalObservation.projectGroup">Project Group</label>
          <select
            class="form-control"
            id="field_projectGroup"
            data-cy="projectGroup"
            name="projectGroup"
            formControlName="projectGroup"
            [compareWith]="compareProjectGroup"
          >
            @if (editForm.get(['projectGroup'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (projectGroupOption of projectGroupsSharedCollection(); track $index) {
              <option [ngValue]="projectGroupOption">{{ projectGroupOption.id }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['projectGroup'])!.invalid && (editForm.get(['projectGroup'])!.dirty || editForm.get(['projectGroup'])!.touched)
        ) {
          <div>
            @if (editForm.get(['projectGroup'])?.errors?.required) {
              <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_customer" ceetTranslate="ceetApp.generalObservation.customer">Customer</label>
          <select
            class="form-control"
            id="field_customer"
            data-cy="customer"
            name="customer"
            formControlName="customer"
            [compareWith]="compareCustomer"
          >
            @if (editForm.get(['customer'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (customerOption of customersSharedCollection(); track $index) {
              <option [ngValue]="customerOption">{{ customerOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['customer'])!.invalid && (editForm.get(['customer'])!.dirty || editForm.get(['customer'])!.touched)) {
          <div>
            @if (editForm.get(['customer'])?.errors?.required) {
              <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span ceetTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span ceetTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
