<div>
  <h2 id="page-heading" data-cy="ApprenticeHeading">
    <span ceetTranslate="ceetApp.apprentice.home.title">Apprentices</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span ceetTranslate="ceetApp.apprentice.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-apprentice"
        [routerLink]="['/apprentice/new']"
      >
        <fa-icon icon="plus" />
        <span ceetTranslate="ceetApp.apprentice.home.createLabel">Crear nuevo Apprentice</span>
      </button>
    </div>
  </h2>

  <ceet-alert-error />

  <ceet-alert />

  @if (apprentices().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span ceetTranslate="ceetApp.apprentice.home.notFound">Ningún Apprentices encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr ceetSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" ceetSortBy="id">
              <div class="d-flex">
                <span ceetTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="customer.id">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.apprentice.customer">Customer</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="trainingStatus.statusName">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.apprentice.trainingStatus">Training Status</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="course.id">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.apprentice.course">Course</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (apprentice of apprentices(); track trackId(apprentice)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/apprentice', apprentice.id, 'view']">{{ apprentice.id }}</a>
              </td>
              <td>
                @if (apprentice.customer) {
                  <div>
                    <a [routerLink]="['/customer', apprentice.customer.id, 'view']">{{ apprentice.customer.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (apprentice.trainingStatus) {
                  <div>
                    <a [routerLink]="['/training-status', apprentice.trainingStatus.id, 'view']">{{
                      apprentice.trainingStatus.statusName
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (apprentice.course) {
                  <div>
                    <a [routerLink]="['/course', apprentice.course.id, 'view']">{{ apprentice.course.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/apprentice', apprentice.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" ceetTranslate="entity.action.view">Vista</span>
                  </a>

                  <a [routerLink]="['/apprentice', apprentice.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" ceetTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(apprentice)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" ceetTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (apprentices().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <ceet-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
