<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="ceet-assessment-heading" data-cy="AssessmentCreateUpdateHeading" ceetTranslate="ceetApp.assessment.home.createOrEditLabel">
        Crear o editar Assessment
      </h2>

      <div>
        <ceet-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" ceetTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let assessmentTypeRef = editForm.get('assessmentType')!;
        <div class="mb-3">
          <label class="form-label" for="field_assessmentType" ceetTranslate="ceetApp.assessment.assessmentType">Assessment Type</label>
          <input
            type="text"
            class="form-control"
            name="assessmentType"
            id="field_assessmentType"
            data-cy="assessmentType"
            formControlName="assessmentType"
          />
          @if (assessmentTypeRef.invalid && (assessmentTypeRef.dirty || assessmentTypeRef.touched)) {
            <div>
              @if (editForm.get('assessmentType')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('assessmentType')?.errors?.maxlength) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >Este campo no puede superar más de 50 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let assessmentStateRef = editForm.get('assessmentState')!;
        <div class="mb-3">
          <label class="form-label" for="field_assessmentState" ceetTranslate="ceetApp.assessment.assessmentState">Assessment State</label>
          <select
            class="form-control"
            name="assessmentState"
            formControlName="assessmentState"
            id="field_assessmentState"
            data-cy="assessmentState"
          >
            <option [ngValue]="null">{{ 'ceetApp.State.null' | translate }}</option>
            @for (state of stateValues; track $index) {
              <option [value]="state">{{ 'ceetApp.State.' + state | translate }}</option>
            }
          </select>
          @if (assessmentStateRef.invalid && (assessmentStateRef.dirty || assessmentStateRef.touched)) {
            <div>
              @if (editForm.get('assessmentState')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span ceetTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span ceetTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
