<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="ceet-year-heading" data-cy="YearCreateUpdateHeading" ceetTranslate="ceetApp.year.home.createOrEditLabel">
        Crear o editar Year
      </h2>

      <div>
        <ceet-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" ceetTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let yearNumberRef = editForm.get('yearNumber')!;
        <div class="mb-3">
          <label class="form-label" for="field_yearNumber" ceetTranslate="ceetApp.year.yearNumber">Year Number</label>
          <input
            type="number"
            class="form-control"
            name="yearNumber"
            id="field_yearNumber"
            data-cy="yearNumber"
            formControlName="yearNumber"
          />
          @if (yearNumberRef.invalid && (yearNumberRef.dirty || yearNumberRef.touched)) {
            <div>
              @if (editForm.get('yearNumber')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('yearNumber')?.errors?.number"
                ceetTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        @let yearStateRef = editForm.get('yearState')!;
        <div class="mb-3">
          <label class="form-label" for="field_yearState" ceetTranslate="ceetApp.year.yearState">Year State</label>
          <select class="form-control" name="yearState" formControlName="yearState" id="field_yearState" data-cy="yearState">
            <option [ngValue]="null">{{ 'ceetApp.State.null' | translate }}</option>
            @for (state of stateValues; track $index) {
              <option [value]="state">{{ 'ceetApp.State.' + state | translate }}</option>
            }
          </select>
          @if (yearStateRef.invalid && (yearStateRef.dirty || yearStateRef.touched)) {
            <div>
              @if (editForm.get('yearState')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span ceetTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span ceetTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
