<div>
  <h2 id="page-heading" data-cy="ClassroomLimitationHeading">
    <span ceetTranslate="ceetApp.classroomLimitation.home.title">Classroom Limitations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span ceetTranslate="ceetApp.classroomLimitation.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-classroom-limitation"
        [routerLink]="['/classroom-limitation/new']"
      >
        <fa-icon icon="plus" />
        <span ceetTranslate="ceetApp.classroomLimitation.home.createLabel">Crear nuevo Classroom Limitation</span>
      </button>
    </div>
  </h2>

  <ceet-alert-error />

  <ceet-alert />

  @if (classroomLimitations().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span ceetTranslate="ceetApp.classroomLimitation.home.notFound">Ningún Classroom Limitations encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr ceetSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" ceetSortBy="id">
              <div class="d-flex">
                <span ceetTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="classroom.id">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.classroomLimitation.classroom">Classroom</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="learningResult.id">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.classroomLimitation.learningResult">Learning Result</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (classroomLimitation of classroomLimitations(); track trackId(classroomLimitation)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/classroom-limitation', classroomLimitation.id, 'view']">{{ classroomLimitation.id }}</a>
              </td>
              <td>
                @if (classroomLimitation.classroom) {
                  <div>
                    <a [routerLink]="['/classroom', classroomLimitation.classroom.id, 'view']">{{ classroomLimitation.classroom.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (classroomLimitation.learningResult) {
                  <div>
                    <a [routerLink]="['/learning-result', classroomLimitation.learningResult.id, 'view']">{{
                      classroomLimitation.learningResult.id
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/classroom-limitation', classroomLimitation.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" ceetTranslate="entity.action.view">Vista</span>
                  </a>

                  <a
                    [routerLink]="['/classroom-limitation', classroomLimitation.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" ceetTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(classroomLimitation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" ceetTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (classroomLimitations().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <ceet-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
