<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="ceet-learning-competence-heading"
        data-cy="LearningCompetenceCreateUpdateHeading"
        ceetTranslate="ceetApp.learningCompetence.home.createOrEditLabel"
      >
        Crear o editar Learning Competence
      </h2>

      <div>
        <ceet-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" ceetTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let competenceCodeRef = editForm.get('competenceCode')!;
        <div class="mb-3">
          <label class="form-label" for="field_competenceCode" ceetTranslate="ceetApp.learningCompetence.competenceCode"
            >Competence Code</label
          >
          <input
            type="text"
            class="form-control"
            name="competenceCode"
            id="field_competenceCode"
            data-cy="competenceCode"
            formControlName="competenceCode"
          />
          @if (competenceCodeRef.invalid && (competenceCodeRef.dirty || competenceCodeRef.touched)) {
            <div>
              @if (editForm.get('competenceCode')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('competenceCode')?.errors?.maxlength) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >Este campo no puede superar más de 50 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let competitionDenominationRef = editForm.get('competitionDenomination')!;
        <div class="mb-3">
          <label class="form-label" for="field_competitionDenomination" ceetTranslate="ceetApp.learningCompetence.competitionDenomination"
            >Competition Denomination</label
          >
          <input
            type="text"
            class="form-control"
            name="competitionDenomination"
            id="field_competitionDenomination"
            data-cy="competitionDenomination"
            formControlName="competitionDenomination"
          />
          @if (competitionDenominationRef.invalid && (competitionDenominationRef.dirty || competitionDenominationRef.touched)) {
            <div>
              @if (editForm.get('competitionDenomination')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('competitionDenomination')?.errors?.maxlength) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.maxlength" [translateValues]="{ max: '1000' }"
                  >Este campo no puede superar más de 1000 caracteres.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_trainingProgram" ceetTranslate="ceetApp.learningCompetence.trainingProgram"
            >Training Program</label
          >
          <select
            class="form-control"
            id="field_trainingProgram"
            data-cy="trainingProgram"
            name="trainingProgram"
            formControlName="trainingProgram"
            [compareWith]="compareTrainingProgram"
          >
            @if (editForm.get(['trainingProgram'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (trainingProgramOption of trainingProgramsSharedCollection(); track $index) {
              <option [ngValue]="trainingProgramOption">{{ trainingProgramOption.id }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['trainingProgram'])!.invalid &&
          (editForm.get(['trainingProgram'])!.dirty || editForm.get(['trainingProgram'])!.touched)
        ) {
          <div>
            @if (editForm.get(['trainingProgram'])?.errors?.required) {
              <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span ceetTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span ceetTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
