<div>
  <h2 id="page-heading" data-cy="ScheduleHeading">
    <span ceetTranslate="ceetApp.schedule.home.title">Schedules</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span ceetTranslate="ceetApp.schedule.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-schedule"
        [routerLink]="['/schedule/new']"
      >
        <fa-icon icon="plus" />
        <span ceetTranslate="ceetApp.schedule.home.createLabel">Crear nuevo Schedule</span>
      </button>
    </div>
  </h2>

  <ceet-alert-error />

  <ceet-alert />

  @if (schedules().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span ceetTranslate="ceetApp.schedule.home.notFound">Ningún Schedules encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr ceetSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" ceetSortBy="id">
              <div class="d-flex">
                <span ceetTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="startTime">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.schedule.startTime">Start Time</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="endTime">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.schedule.endTime">End Time</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="scheduleVersion.id">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.schedule.scheduleVersion">Schedule Version</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="modality.modalityName">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.schedule.modality">Modality</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="day.dayName">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.schedule.day">Day</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="courseTrimester.id">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.schedule.courseTrimester">Course Trimester</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="classroom.id">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.schedule.classroom">Classroom</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="instructor.id">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.schedule.instructor">Instructor</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (schedule of schedules(); track trackId(schedule)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/schedule', schedule.id, 'view']">{{ schedule.id }}</a>
              </td>
              <td title="{{ schedule.startTime }}">{{ schedule.startTime | duration }}</td>
              <td title="{{ schedule.endTime }}">{{ schedule.endTime | duration }}</td>
              <td>
                @if (schedule.scheduleVersion) {
                  <div>
                    <a [routerLink]="['/schedule-version', schedule.scheduleVersion.id, 'view']">{{ schedule.scheduleVersion.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (schedule.modality) {
                  <div>
                    <a [routerLink]="['/modality', schedule.modality.id, 'view']">{{ schedule.modality.modalityName }}</a>
                  </div>
                }
              </td>
              <td>
                @if (schedule.day) {
                  <div>
                    <a [routerLink]="['/day', schedule.day.id, 'view']">{{ schedule.day.dayName }}</a>
                  </div>
                }
              </td>
              <td>
                @if (schedule.courseTrimester) {
                  <div>
                    <a [routerLink]="['/course-trimester', schedule.courseTrimester.id, 'view']">{{ schedule.courseTrimester.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (schedule.classroom) {
                  <div>
                    <a [routerLink]="['/classroom', schedule.classroom.id, 'view']">{{ schedule.classroom.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (schedule.instructor) {
                  <div>
                    <a [routerLink]="['/instructor', schedule.instructor.id, 'view']">{{ schedule.instructor.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/schedule', schedule.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" ceetTranslate="entity.action.view">Vista</span>
                  </a>

                  <a [routerLink]="['/schedule', schedule.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" ceetTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(schedule)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" ceetTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (schedules().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <ceet-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
