<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="ceet-item-list-heading" data-cy="ItemListCreateUpdateHeading" ceetTranslate="ceetApp.itemList.home.createOrEditLabel">
        Crear o editar Item List
      </h2>

      <div>
        <ceet-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" ceetTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let itemNumberRef = editForm.get('itemNumber')!;
        <div class="mb-3">
          <label class="form-label" for="field_itemNumber" ceetTranslate="ceetApp.itemList.itemNumber">Item Number</label>
          <input
            type="number"
            class="form-control"
            name="itemNumber"
            id="field_itemNumber"
            data-cy="itemNumber"
            formControlName="itemNumber"
          />
          @if (itemNumberRef.invalid && (itemNumberRef.dirty || itemNumberRef.touched)) {
            <div>
              @if (editForm.get('itemNumber')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('itemNumber')?.errors?.number"
                ceetTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        @let questionRef = editForm.get('question')!;
        <div class="mb-3">
          <label class="form-label" for="field_question" ceetTranslate="ceetApp.itemList.question">Question</label>
          <input type="text" class="form-control" name="question" id="field_question" data-cy="question" formControlName="question" />
          @if (questionRef.invalid && (questionRef.dirty || questionRef.touched)) {
            <div>
              @if (editForm.get('question')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('question')?.errors?.maxlength) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.maxlength" [translateValues]="{ max: '1000' }"
                  >Este campo no puede superar más de 1000 caracteres.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_checkList" ceetTranslate="ceetApp.itemList.checkList">Check List</label>
          <select
            class="form-control"
            id="field_checkList"
            data-cy="checkList"
            name="checkList"
            formControlName="checkList"
            [compareWith]="compareCheckList"
          >
            @if (editForm.get(['checkList'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (checkListOption of checkListsSharedCollection(); track $index) {
              <option [ngValue]="checkListOption">{{ checkListOption.listName }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['checkList'])!.invalid && (editForm.get(['checkList'])!.dirty || editForm.get(['checkList'])!.touched)) {
          <div>
            @if (editForm.get(['checkList'])?.errors?.required) {
              <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_learningResult" ceetTranslate="ceetApp.itemList.learningResult">Learning Result</label>
          <select
            class="form-control"
            id="field_learningResult"
            data-cy="learningResult"
            name="learningResult"
            formControlName="learningResult"
            [compareWith]="compareLearningResult"
          >
            @if (editForm.get(['learningResult'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (learningResultOption of learningResultsSharedCollection(); track $index) {
              <option [ngValue]="learningResultOption">{{ learningResultOption.id }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['learningResult'])!.invalid &&
          (editForm.get(['learningResult'])!.dirty || editForm.get(['learningResult'])!.touched)
        ) {
          <div>
            @if (editForm.get(['learningResult'])?.errors?.required) {
              <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span ceetTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span ceetTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
