<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="ceet-instructor-working-day-heading"
        data-cy="InstructorWorkingDayCreateUpdateHeading"
        ceetTranslate="ceetApp.instructorWorkingDay.home.createOrEditLabel"
      >
        Crear o editar Instructor Working Day
      </h2>

      <div>
        <ceet-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" ceetTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let nameWorkingDayRef = editForm.get('nameWorkingDay')!;
        <div class="mb-3">
          <label class="form-label" for="field_nameWorkingDay" ceetTranslate="ceetApp.instructorWorkingDay.nameWorkingDay"
            >Name Working Day</label
          >
          <input
            type="text"
            class="form-control"
            name="nameWorkingDay"
            id="field_nameWorkingDay"
            data-cy="nameWorkingDay"
            formControlName="nameWorkingDay"
          />
          @if (nameWorkingDayRef.invalid && (nameWorkingDayRef.dirty || nameWorkingDayRef.touched)) {
            <div>
              @if (editForm.get('nameWorkingDay')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('nameWorkingDay')?.errors?.maxlength) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.maxlength" [translateValues]="{ max: '80' }"
                  >Este campo no puede superar más de 80 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let descriptionWorkingDayRef = editForm.get('descriptionWorkingDay')!;
        <div class="mb-3">
          <label class="form-label" for="field_descriptionWorkingDay" ceetTranslate="ceetApp.instructorWorkingDay.descriptionWorkingDay"
            >Description Working Day</label
          >
          <input
            type="text"
            class="form-control"
            name="descriptionWorkingDay"
            id="field_descriptionWorkingDay"
            data-cy="descriptionWorkingDay"
            formControlName="descriptionWorkingDay"
          />
          @if (descriptionWorkingDayRef.invalid && (descriptionWorkingDayRef.dirty || descriptionWorkingDayRef.touched)) {
            <div>
              @if (editForm.get('descriptionWorkingDay')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('descriptionWorkingDay')?.errors?.maxlength) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.maxlength" [translateValues]="{ max: '200' }"
                  >Este campo no puede superar más de 200 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let workingDayStateRef = editForm.get('workingDayState')!;
        <div class="mb-3">
          <label class="form-label" for="field_workingDayState" ceetTranslate="ceetApp.instructorWorkingDay.workingDayState"
            >Working Day State</label
          >
          <select
            class="form-control"
            name="workingDayState"
            formControlName="workingDayState"
            id="field_workingDayState"
            data-cy="workingDayState"
          >
            <option [ngValue]="null">{{ 'ceetApp.State.null' | translate }}</option>
            @for (state of stateValues; track $index) {
              <option [value]="state">{{ 'ceetApp.State.' + state | translate }}</option>
            }
          </select>
          @if (workingDayStateRef.invalid && (workingDayStateRef.dirty || workingDayStateRef.touched)) {
            <div>
              @if (editForm.get('workingDayState')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span ceetTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span ceetTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
