<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="ceet-trimester-heading" data-cy="TrimesterCreateUpdateHeading" ceetTranslate="ceetApp.trimester.home.createOrEditLabel">
        Crear o editar Trimester
      </h2>

      <div>
        <ceet-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" ceetTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let trimesterNameRef = editForm.get('trimesterName')!;
        <div class="mb-3">
          <label class="form-label" for="field_trimesterName" ceetTranslate="ceetApp.trimester.trimesterName">Trimester Name</label>
          <input
            type="number"
            class="form-control"
            name="trimesterName"
            id="field_trimesterName"
            data-cy="trimesterName"
            formControlName="trimesterName"
          />
          @if (trimesterNameRef.invalid && (trimesterNameRef.dirty || trimesterNameRef.touched)) {
            <div>
              @if (editForm.get('trimesterName')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('trimesterName')?.errors?.number"
                ceetTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_trimesterState" ceetTranslate="ceetApp.trimester.trimesterState">Trimester State</label>
          <input
            type="text"
            class="form-control"
            name="trimesterState"
            id="field_trimesterState"
            data-cy="trimesterState"
            formControlName="trimesterState"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_workingDayCourse" ceetTranslate="ceetApp.trimester.workingDayCourse"
            >Working Day Course</label
          >
          <select
            class="form-control"
            id="field_workingDayCourse"
            data-cy="workingDayCourse"
            name="workingDayCourse"
            formControlName="workingDayCourse"
            [compareWith]="compareWorkingDayCourse"
          >
            @if (editForm.get(['workingDayCourse'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (workingDayCourseOption of workingDayCoursesSharedCollection(); track $index) {
              <option [ngValue]="workingDayCourseOption">{{ workingDayCourseOption.workingDayName }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['workingDayCourse'])!.invalid &&
          (editForm.get(['workingDayCourse'])!.dirty || editForm.get(['workingDayCourse'])!.touched)
        ) {
          <div>
            @if (editForm.get(['workingDayCourse'])?.errors?.required) {
              <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_levelEducations" ceetTranslate="ceetApp.trimester.levelEducations">Level Educations</label>
          <select
            class="form-control"
            id="field_levelEducations"
            data-cy="levelEducations"
            name="levelEducations"
            formControlName="levelEducations"
            [compareWith]="compareLevelEducation"
          >
            @if (editForm.get(['levelEducations'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (levelEducationOption of levelEducationsSharedCollection(); track $index) {
              <option [ngValue]="levelEducationOption">{{ levelEducationOption.levelName }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['levelEducations'])!.invalid &&
          (editForm.get(['levelEducations'])!.dirty || editForm.get(['levelEducations'])!.touched)
        ) {
          <div>
            @if (editForm.get(['levelEducations'])?.errors?.required) {
              <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span ceetTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span ceetTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
