<div>
  <h2 id="page-heading" data-cy="ProjectPhaseHeading">
    <span ceetTranslate="ceetApp.projectPhase.home.title">Project Phases</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span ceetTranslate="ceetApp.projectPhase.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-project-phase"
        [routerLink]="['/project-phase/new']"
      >
        <fa-icon icon="plus" />
        <span ceetTranslate="ceetApp.projectPhase.home.createLabel">Crear nuevo Project Phase</span>
      </button>
    </div>
  </h2>

  <ceet-alert-error />

  <ceet-alert />

  @if (projectPhases().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span ceetTranslate="ceetApp.projectPhase.home.notFound">Ningún Project Phases encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr ceetSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" ceetSortBy="id">
              <div class="d-flex">
                <span ceetTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="projectPhaseCode">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.projectPhase.projectPhaseCode">Project Phase Code</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="projectPhaseState">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.projectPhase.projectPhaseState">Project Phase State</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="project.projectCode">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.projectPhase.project">Project</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (projectPhase of projectPhases(); track trackId(projectPhase)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/project-phase', projectPhase.id, 'view']">{{ projectPhase.id }}</a>
              </td>
              <td>{{ projectPhase.projectPhaseCode }}</td>
              <td>{{ projectPhase.projectPhaseState }}</td>
              <td>
                @if (projectPhase.project) {
                  <div>
                    <a [routerLink]="['/project', projectPhase.project.id, 'view']">{{ projectPhase.project.projectCode }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/project-phase', projectPhase.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" ceetTranslate="entity.action.view">Vista</span>
                  </a>

                  <a [routerLink]="['/project-phase', projectPhase.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" ceetTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(projectPhase)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" ceetTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (projectPhases().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <ceet-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
