<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="ceet-campus-heading" data-cy="CampusCreateUpdateHeading" ceetTranslate="ceetApp.campus.home.createOrEditLabel">
        Crear o editar Campus
      </h2>

      <div>
        <ceet-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" ceetTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let campusNameRef = editForm.get('campusName')!;
        <div class="mb-3">
          <label class="form-label" for="field_campusName" ceetTranslate="ceetApp.campus.campusName">Campus Name</label>
          <input
            type="text"
            class="form-control"
            name="campusName"
            id="field_campusName"
            data-cy="campusName"
            formControlName="campusName"
          />
          @if (campusNameRef.invalid && (campusNameRef.dirty || campusNameRef.touched)) {
            <div>
              @if (editForm.get('campusName')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('campusName')?.errors?.maxlength) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >Este campo no puede superar más de 50 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let campusAddressRef = editForm.get('campusAddress')!;
        <div class="mb-3">
          <label class="form-label" for="field_campusAddress" ceetTranslate="ceetApp.campus.campusAddress">Campus Address</label>
          <input
            type="text"
            class="form-control"
            name="campusAddress"
            id="field_campusAddress"
            data-cy="campusAddress"
            formControlName="campusAddress"
          />
          @if (campusAddressRef.invalid && (campusAddressRef.dirty || campusAddressRef.touched)) {
            <div>
              @if (editForm.get('campusAddress')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('campusAddress')?.errors?.maxlength) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.maxlength" [translateValues]="{ max: '400' }"
                  >Este campo no puede superar más de 400 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let campusStateRef = editForm.get('campusState')!;
        <div class="mb-3">
          <label class="form-label" for="field_campusState" ceetTranslate="ceetApp.campus.campusState">Campus State</label>
          <select class="form-control" name="campusState" formControlName="campusState" id="field_campusState" data-cy="campusState">
            <option [ngValue]="null">{{ 'ceetApp.State.null' | translate }}</option>
            @for (state of stateValues; track $index) {
              <option [value]="state">{{ 'ceetApp.State.' + state | translate }}</option>
            }
          </select>
          @if (campusStateRef.invalid && (campusStateRef.dirty || campusStateRef.touched)) {
            <div>
              @if (editForm.get('campusState')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span ceetTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span ceetTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
