<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="ceet-member-group-heading"
        data-cy="MemberGroupCreateUpdateHeading"
        ceetTranslate="ceetApp.memberGroup.home.createOrEditLabel"
      >
        Crear o editar Member Group
      </h2>

      <div>
        <ceet-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" ceetTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_projectGroup" ceetTranslate="ceetApp.memberGroup.projectGroup">Project Group</label>
          <select
            class="form-control"
            id="field_projectGroup"
            data-cy="projectGroup"
            name="projectGroup"
            formControlName="projectGroup"
            [compareWith]="compareProjectGroup"
          >
            @if (editForm.get(['projectGroup'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (projectGroupOption of projectGroupsSharedCollection(); track $index) {
              <option [ngValue]="projectGroupOption">{{ projectGroupOption.id }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['projectGroup'])!.invalid && (editForm.get(['projectGroup'])!.dirty || editForm.get(['projectGroup'])!.touched)
        ) {
          <div>
            @if (editForm.get(['projectGroup'])?.errors?.required) {
              <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_apprentice" ceetTranslate="ceetApp.memberGroup.apprentice">Apprentice</label>
          <select
            class="form-control"
            id="field_apprentice"
            data-cy="apprentice"
            name="apprentice"
            formControlName="apprentice"
            [compareWith]="compareApprentice"
          >
            @if (editForm.get(['apprentice'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (apprenticeOption of apprenticesSharedCollection(); track $index) {
              <option [ngValue]="apprenticeOption">{{ apprenticeOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['apprentice'])!.invalid && (editForm.get(['apprentice'])!.dirty || editForm.get(['apprentice'])!.touched)) {
          <div>
            @if (editForm.get(['apprentice'])?.errors?.required) {
              <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span ceetTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span ceetTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
