<div>
  <h2 id="page-heading" data-cy="GeneralObservationHeading">
    <span ceetTranslate="ceetApp.generalObservation.home.title">General Observations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span ceetTranslate="ceetApp.generalObservation.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-general-observation"
        [routerLink]="['/general-observation/new']"
      >
        <fa-icon icon="plus" />
        <span ceetTranslate="ceetApp.generalObservation.home.createLabel">Crear nuevo General Observation</span>
      </button>
    </div>
  </h2>

  <ceet-alert-error />

  <ceet-alert />

  @if (generalObservations().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span ceetTranslate="ceetApp.generalObservation.home.notFound">Ningún General Observations encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr ceetSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" ceetSortBy="id">
              <div class="d-flex">
                <span ceetTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="number">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.generalObservation.number">Number</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="observationGeneral">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.generalObservation.observationGeneral">Observation General</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="jury">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.generalObservation.jury">Jury</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="dateAudit">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.generalObservation.dateAudit">Date Audit</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="projectGroup.id">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.generalObservation.projectGroup">Project Group</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="customer.id">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.generalObservation.customer">Customer</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (generalObservation of generalObservations(); track trackId(generalObservation)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/general-observation', generalObservation.id, 'view']">{{ generalObservation.id }}</a>
              </td>
              <td>{{ generalObservation.number }}</td>
              <td>{{ generalObservation.observationGeneral }}</td>
              <td>{{ generalObservation.jury }}</td>
              <td>{{ generalObservation.dateAudit | formatMediumDatetime }}</td>
              <td>
                @if (generalObservation.projectGroup) {
                  <div>
                    <a [routerLink]="['/project-group', generalObservation.projectGroup.id, 'view']">{{
                      generalObservation.projectGroup.id
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (generalObservation.customer) {
                  <div>
                    <a [routerLink]="['/customer', generalObservation.customer.id, 'view']">{{ generalObservation.customer.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/general-observation', generalObservation.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" ceetTranslate="entity.action.view">Vista</span>
                  </a>

                  <a
                    [routerLink]="['/general-observation', generalObservation.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" ceetTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(generalObservation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" ceetTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (generalObservations().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <ceet-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
