<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="ceet-log-error-heading" data-cy="LogErrorCreateUpdateHeading" ceetTranslate="ceetApp.logError.home.createOrEditLabel">
        Crear o editar Log Error
      </h2>

      <div>
        <ceet-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" ceetTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let levelErrorRef = editForm.get('levelError')!;
        <div class="mb-3">
          <label class="form-label" for="field_levelError" ceetTranslate="ceetApp.logError.levelError">Level Error</label>
          <input
            type="text"
            class="form-control"
            name="levelError"
            id="field_levelError"
            data-cy="levelError"
            formControlName="levelError"
          />
          @if (levelErrorRef.invalid && (levelErrorRef.dirty || levelErrorRef.touched)) {
            <div>
              @if (editForm.get('levelError')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('levelError')?.errors?.maxlength) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.maxlength" [translateValues]="{ max: '400' }"
                  >Este campo no puede superar más de 400 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let logNameRef = editForm.get('logName')!;
        <div class="mb-3">
          <label class="form-label" for="field_logName" ceetTranslate="ceetApp.logError.logName">Log Name</label>
          <input type="text" class="form-control" name="logName" id="field_logName" data-cy="logName" formControlName="logName" />
          @if (logNameRef.invalid && (logNameRef.dirty || logNameRef.touched)) {
            <div>
              @if (editForm.get('logName')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('logName')?.errors?.maxlength) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.maxlength" [translateValues]="{ max: '400' }"
                  >Este campo no puede superar más de 400 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let messageErrorRef = editForm.get('messageError')!;
        <div class="mb-3">
          <label class="form-label" for="field_messageError" ceetTranslate="ceetApp.logError.messageError">Message Error</label>
          <input
            type="text"
            class="form-control"
            name="messageError"
            id="field_messageError"
            data-cy="messageError"
            formControlName="messageError"
          />
          @if (messageErrorRef.invalid && (messageErrorRef.dirty || messageErrorRef.touched)) {
            <div>
              @if (editForm.get('messageError')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('messageError')?.errors?.maxlength) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.maxlength" [translateValues]="{ max: '400' }"
                  >Este campo no puede superar más de 400 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let dateErrorRef = editForm.get('dateError')!;
        <div class="mb-3">
          <label class="form-label" for="field_dateError" ceetTranslate="ceetApp.logError.dateError">Date Error</label>
          <div class="d-flex">
            <input
              id="field_dateError"
              data-cy="dateError"
              type="datetime-local"
              class="form-control"
              name="dateError"
              formControlName="dateError"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (dateErrorRef.invalid && (dateErrorRef.dirty || dateErrorRef.touched)) {
            <div>
              @if (editForm.get('dateError')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('dateError')?.errors?.datetimelocal"
                ceetTranslate="entity.validation.datetimelocal"
                >Este campo debe ser una fecha y hora.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_customer" ceetTranslate="ceetApp.logError.customer">Customer</label>
          <select
            class="form-control"
            id="field_customer"
            data-cy="customer"
            name="customer"
            formControlName="customer"
            [compareWith]="compareCustomer"
          >
            @if (editForm.get(['customer'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (customerOption of customersSharedCollection(); track $index) {
              <option [ngValue]="customerOption">{{ customerOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['customer'])!.invalid && (editForm.get(['customer'])!.dirty || editForm.get(['customer'])!.touched)) {
          <div>
            @if (editForm.get(['customer'])?.errors?.required) {
              <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span ceetTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span ceetTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
