<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (checkList(); as checkListRef) {
      <div>
        <h2 data-cy="checkListDetailsHeading"><span ceetTranslate="ceetApp.checkList.detail.title">Check List</span></h2>

        <hr />

        <ceet-alert-error />

        <ceet-alert />

        <dl class="row-md jh-entity-details">
          <dt><span ceetTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ checkListRef.id }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.checkList.listName">List Name</span></dt>
          <dd>
            <span>{{ checkListRef.listName }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.checkList.listState">List State</span></dt>
          <dd>
            <span [ceetTranslate]="'ceetApp.State.' + (checkListRef.listState ?? 'null')">{{
              { null: '', ACTIVE: 'Activo', INACTIVE: 'Inactivo' }[checkListRef.listState ?? 'null']
            }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.checkList.trainingProgram">Training Program</span></dt>
          <dd>
            @if (checkList()!.trainingProgram) {
              <div>
                <a [routerLink]="['/training-program', checkList()!.trainingProgram?.id, 'view']">{{ checkListRef.trainingProgram?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span ceetTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/check-list', checkListRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span ceetTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
