<div>
  <h2 id="page-heading" data-cy="ObservationResponseHeading">
    <span ceetTranslate="ceetApp.observationResponse.home.title">Observation Responses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span ceetTranslate="ceetApp.observationResponse.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-observation-response"
        [routerLink]="['/observation-response/new']"
      >
        <fa-icon icon="plus" />
        <span ceetTranslate="ceetApp.observationResponse.home.createLabel">Crear nuevo Observation Response</span>
      </button>
    </div>
  </h2>

  <ceet-alert-error />

  <ceet-alert />

  @if (observationResponses().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span ceetTranslate="ceetApp.observationResponse.home.notFound">Ningún Observation Responses encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr ceetSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" ceetSortBy="id">
              <div class="d-flex">
                <span ceetTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="numberObservation">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.observationResponse.numberObservation">Number Observation</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="obsevation">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.observationResponse.obsevation">Obsevation</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="juries">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.observationResponse.juries">Juries</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="dateObservation">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.observationResponse.dateObservation">Date Observation</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="groupResponse.id">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.observationResponse.groupResponse">Group Response</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="customer.id">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.observationResponse.customer">Customer</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (observationResponse of observationResponses(); track trackId(observationResponse)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/observation-response', observationResponse.id, 'view']">{{ observationResponse.id }}</a>
              </td>
              <td>{{ observationResponse.numberObservation }}</td>
              <td>{{ observationResponse.obsevation }}</td>
              <td>{{ observationResponse.juries }}</td>
              <td>{{ observationResponse.dateObservation | formatMediumDatetime }}</td>
              <td>
                @if (observationResponse.groupResponse) {
                  <div>
                    <a [routerLink]="['/group-response', observationResponse.groupResponse.id, 'view']">{{
                      observationResponse.groupResponse.id
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (observationResponse.customer) {
                  <div>
                    <a [routerLink]="['/customer', observationResponse.customer.id, 'view']">{{ observationResponse.customer.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/observation-response', observationResponse.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" ceetTranslate="entity.action.view">Vista</span>
                  </a>

                  <a
                    [routerLink]="['/observation-response', observationResponse.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" ceetTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(observationResponse)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" ceetTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (observationResponses().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <ceet-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
