<div>
  <h2 id="page-heading" data-cy="UserManagementHeading">
    <span ceetTranslate="userManagement.home.title">Usuarios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span ceetTranslate="userManagement.home.refreshListLabel">Refrescar lista</span>
      </button>
      <button class="btn btn-primary jh-create-entity" [routerLink]="['./new']" data-cy="entityCreateButton">
        <fa-icon icon="plus" />
        <span ceetTranslate="userManagement.home.createLabel">Crear un nuevo usuario</span>
      </button>
    </div>
  </h2>

  <ceet-alert-error />

  <ceet-alert />

  @if (users()) {
    <div class="table-responsive">
      <table class="table table-striped" aria-describedby="user-management-page-heading">
        <thead>
          <tr ceetSort [(sortState)]="sortState" (sortChange)="transition($event)">
            <th scope="col" ceetSortBy="id"><span ceetTranslate="global.field.id">ID</span> <fa-icon icon="sort" /></th>
            <th scope="col" ceetSortBy="login"><span ceetTranslate="userManagement.login">Login</span> <fa-icon icon="sort" /></th>
            <th scope="col" ceetSortBy="email"><span ceetTranslate="userManagement.email">Email</span> <fa-icon icon="sort" /></th>
            <th scope="col"></th>
            <th scope="col" ceetSortBy="langKey"><span ceetTranslate="userManagement.langKey">Idioma</span> <fa-icon icon="sort" /></th>
            <th scope="col"><span ceetTranslate="userManagement.profiles">Perfiles</span></th>
            <th scope="col" ceetSortBy="createdDate">
              <span ceetTranslate="userManagement.createdDate">Fecha de creación</span> <fa-icon icon="sort" />
            </th>
            <th scope="col" ceetSortBy="lastModifiedBy">
              <span ceetTranslate="userManagement.lastModifiedBy">Modificado por</span> <fa-icon icon="sort" />
            </th>
            <th scope="col" ceetSortBy="lastModifiedDate">
              <span ceetTranslate="userManagement.lastModifiedDate">Fecha de modificación</span> <fa-icon icon="sort" />
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (userManagement of users(); track trackIdentity(userManagement)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['./', userManagement.login, 'view']">{{ userManagement.id }}</a>
              </td>
              <td>{{ userManagement.login }}</td>
              <td>{{ userManagement.email }}</td>
              <td>
                @if (!userManagement.activated) {
                  <button
                    class="btn btn-danger btn-sm"
                    (click)="setActive(userManagement, true)"
                    ceetTranslate="userManagement.deactivated"
                  >
                    Desactivado
                  </button>
                } @else {
                  <button
                    class="btn btn-success btn-sm"
                    (click)="setActive(userManagement, false)"
                    [disabled]="!currentAccount() || currentAccount()?.login === userManagement.login"
                    ceetTranslate="userManagement.activated"
                  >
                    Activado
                  </button>
                }
              </td>
              <td>{{ userManagement.langKey }}</td>
              <td>
                @for (authority of userManagement.authorities; track $index) {
                  <div>
                    <span class="badge bg-info">{{ authority }}</span>
                  </div>
                }
              </td>
              <td>{{ userManagement.createdDate | date: 'dd/MM/yy HH:mm' }}</td>
              <td>{{ userManagement.lastModifiedBy }}</td>
              <td>{{ userManagement.lastModifiedDate | date: 'dd/MM/yy HH:mm' }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <button
                    type="submit"
                    [routerLink]="['./', userManagement.login, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" ceetTranslate="entity.action.view">Vista</span>
                  </button>

                  <button
                    type="submit"
                    [routerLink]="['./', userManagement.login, 'edit']"
                    queryParamsHandling="merge"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" ceetTranslate="entity.action.edit">Editar</span>
                  </button>

                  <button
                    type="button"
                    (click)="deleteUser(userManagement)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                    [disabled]="!currentAccount() || currentAccount()?.login === userManagement.login"
                  >
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" ceetTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <div>
      <div class="d-flex justify-content-center">
        <ceet-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [(page)]="page"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="transition()"
        />
      </div>
    </div>
  }
</div>
