<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="ceet-check-list-heading" data-cy="CheckListCreateUpdateHeading" ceetTranslate="ceetApp.checkList.home.createOrEditLabel">
        Crear o editar Check List
      </h2>

      <div>
        <ceet-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" ceetTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let listNameRef = editForm.get('listName')!;
        <div class="mb-3">
          <label class="form-label" for="field_listName" ceetTranslate="ceetApp.checkList.listName">List Name</label>
          <input type="text" class="form-control" name="listName" id="field_listName" data-cy="listName" formControlName="listName" />
          @if (listNameRef.invalid && (listNameRef.dirty || listNameRef.touched)) {
            <div>
              @if (editForm.get('listName')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('listName')?.errors?.maxlength) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >Este campo no puede superar más de 50 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let listStateRef = editForm.get('listState')!;
        <div class="mb-3">
          <label class="form-label" for="field_listState" ceetTranslate="ceetApp.checkList.listState">List State</label>
          <select class="form-control" name="listState" formControlName="listState" id="field_listState" data-cy="listState">
            <option [ngValue]="null">{{ 'ceetApp.State.null' | translate }}</option>
            @for (state of stateValues; track $index) {
              <option [value]="state">{{ 'ceetApp.State.' + state | translate }}</option>
            }
          </select>
          @if (listStateRef.invalid && (listStateRef.dirty || listStateRef.touched)) {
            <div>
              @if (editForm.get('listState')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_trainingProgram" ceetTranslate="ceetApp.checkList.trainingProgram">Training Program</label>
          <select
            class="form-control"
            id="field_trainingProgram"
            data-cy="trainingProgram"
            name="trainingProgram"
            formControlName="trainingProgram"
            [compareWith]="compareTrainingProgram"
          >
            @if (editForm.get(['trainingProgram'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (trainingProgramOption of trainingProgramsSharedCollection(); track $index) {
              <option [ngValue]="trainingProgramOption">{{ trainingProgramOption.id }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['trainingProgram'])!.invalid &&
          (editForm.get(['trainingProgram'])!.dirty || editForm.get(['trainingProgram'])!.touched)
        ) {
          <div>
            @if (editForm.get(['trainingProgram'])?.errors?.required) {
              <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span ceetTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span ceetTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
