<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="ceet-project-heading" data-cy="ProjectCreateUpdateHeading" ceetTranslate="ceetApp.project.home.createOrEditLabel">
        Crear o editar Project
      </h2>

      <div>
        <ceet-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" ceetTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let projectCodeRef = editForm.get('projectCode')!;
        <div class="mb-3">
          <label class="form-label" for="field_projectCode" ceetTranslate="ceetApp.project.projectCode">Project Code</label>
          <input
            type="text"
            class="form-control"
            name="projectCode"
            id="field_projectCode"
            data-cy="projectCode"
            formControlName="projectCode"
          />
          @if (projectCodeRef.invalid && (projectCodeRef.dirty || projectCodeRef.touched)) {
            <div>
              @if (editForm.get('projectCode')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('projectCode')?.errors?.maxlength) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.maxlength" [translateValues]="{ max: '40' }"
                  >Este campo no puede superar más de 40 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let projectNameRef = editForm.get('projectName')!;
        <div class="mb-3">
          <label class="form-label" for="field_projectName" ceetTranslate="ceetApp.project.projectName">Project Name</label>
          <input
            type="text"
            class="form-control"
            name="projectName"
            id="field_projectName"
            data-cy="projectName"
            formControlName="projectName"
          />
          @if (projectNameRef.invalid && (projectNameRef.dirty || projectNameRef.touched)) {
            <div>
              @if (editForm.get('projectName')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('projectName')?.errors?.maxlength) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.maxlength" [translateValues]="{ max: '500' }"
                  >Este campo no puede superar más de 500 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let projectStateRef = editForm.get('projectState')!;
        <div class="mb-3">
          <label class="form-label" for="field_projectState" ceetTranslate="ceetApp.project.projectState">Project State</label>
          <select class="form-control" name="projectState" formControlName="projectState" id="field_projectState" data-cy="projectState">
            <option [ngValue]="null">{{ 'ceetApp.State.null' | translate }}</option>
            @for (state of stateValues; track $index) {
              <option [value]="state">{{ 'ceetApp.State.' + state | translate }}</option>
            }
          </select>
          @if (projectStateRef.invalid && (projectStateRef.dirty || projectStateRef.touched)) {
            <div>
              @if (editForm.get('projectState')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_trainingProgram" ceetTranslate="ceetApp.project.trainingProgram">Training Program</label>
          <select
            class="form-control"
            id="field_trainingProgram"
            data-cy="trainingProgram"
            name="trainingProgram"
            formControlName="trainingProgram"
            [compareWith]="compareTrainingProgram"
          >
            @if (editForm.get(['trainingProgram'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (trainingProgramOption of trainingProgramsSharedCollection(); track $index) {
              <option [ngValue]="trainingProgramOption">{{ trainingProgramOption.id }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['trainingProgram'])!.invalid &&
          (editForm.get(['trainingProgram'])!.dirty || editForm.get(['trainingProgram'])!.touched)
        ) {
          <div>
            @if (editForm.get(['trainingProgram'])?.errors?.required) {
              <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span ceetTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span ceetTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
