<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="ceet-day-heading" data-cy="DayCreateUpdateHeading" ceetTranslate="ceetApp.day.home.createOrEditLabel">Crear o editar Day</h2>

      <div>
        <ceet-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" ceetTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let dayNameRef = editForm.get('dayName')!;
        <div class="mb-3">
          <label class="form-label" for="field_dayName" ceetTranslate="ceetApp.day.dayName">Day Name</label>
          <input type="text" class="form-control" name="dayName" id="field_dayName" data-cy="dayName" formControlName="dayName" />
          @if (dayNameRef.invalid && (dayNameRef.dirty || dayNameRef.touched)) {
            <div>
              @if (editForm.get('dayName')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('dayName')?.errors?.maxlength) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.maxlength" [translateValues]="{ max: '40' }"
                  >Este campo no puede superar más de 40 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let dayStateRef = editForm.get('dayState')!;
        <div class="mb-3">
          <label class="form-label" for="field_dayState" ceetTranslate="ceetApp.day.dayState">Day State</label>
          <select class="form-control" name="dayState" formControlName="dayState" id="field_dayState" data-cy="dayState">
            <option [ngValue]="null">{{ 'ceetApp.State.null' | translate }}</option>
            @for (state of stateValues; track $index) {
              <option [value]="state">{{ 'ceetApp.State.' + state | translate }}</option>
            }
          </select>
          @if (dayStateRef.invalid && (dayStateRef.dirty || dayStateRef.touched)) {
            <div>
              @if (editForm.get('dayState')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span ceetTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span ceetTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
