<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="ceet-course-status-heading"
        data-cy="CourseStatusCreateUpdateHeading"
        ceetTranslate="ceetApp.courseStatus.home.createOrEditLabel"
      >
        Crear o editar Course Status
      </h2>

      <div>
        <ceet-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" ceetTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let nameCourseStatusRef = editForm.get('nameCourseStatus')!;
        <div class="mb-3">
          <label class="form-label" for="field_nameCourseStatus" ceetTranslate="ceetApp.courseStatus.nameCourseStatus"
            >Name Course Status</label
          >
          <input
            type="text"
            class="form-control"
            name="nameCourseStatus"
            id="field_nameCourseStatus"
            data-cy="nameCourseStatus"
            formControlName="nameCourseStatus"
          />
          @if (nameCourseStatusRef.invalid && (nameCourseStatusRef.dirty || nameCourseStatusRef.touched)) {
            <div>
              @if (editForm.get('nameCourseStatus')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('nameCourseStatus')?.errors?.maxlength) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.maxlength" [translateValues]="{ max: '20' }"
                  >Este campo no puede superar más de 20 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let stateCourseRef = editForm.get('stateCourse')!;
        <div class="mb-3">
          <label class="form-label" for="field_stateCourse" ceetTranslate="ceetApp.courseStatus.stateCourse">State Course</label>
          <select class="form-control" name="stateCourse" formControlName="stateCourse" id="field_stateCourse" data-cy="stateCourse">
            <option [ngValue]="null">{{ 'ceetApp.State.null' | translate }}</option>
            @for (state of stateValues; track $index) {
              <option [value]="state">{{ 'ceetApp.State.' + state | translate }}</option>
            }
          </select>
          @if (stateCourseRef.invalid && (stateCourseRef.dirty || stateCourseRef.touched)) {
            <div>
              @if (editForm.get('stateCourse')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span ceetTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span ceetTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
