<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (trimester(); as trimesterRef) {
      <div>
        <h2 data-cy="trimesterDetailsHeading"><span ceetTranslate="ceetApp.trimester.detail.title">Trimester</span></h2>

        <hr />

        <ceet-alert-error />

        <ceet-alert />

        <dl class="row-md jh-entity-details">
          <dt><span ceetTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ trimesterRef.id }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.trimester.trimesterName">Trimester Name</span></dt>
          <dd>
            <span>{{ trimesterRef.trimesterName }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.trimester.trimesterState">Trimester State</span></dt>
          <dd>
            <span>{{ trimesterRef.trimesterState }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.trimester.workingDayCourse">Working Day Course</span></dt>
          <dd>
            @if (trimester()!.workingDayCourse) {
              <div>
                <a [routerLink]="['/working-day-course', trimester()!.workingDayCourse?.id, 'view']">{{
                  trimesterRef.workingDayCourse?.workingDayName
                }}</a>
              </div>
            }
          </dd>
          <dt><span ceetTranslate="ceetApp.trimester.levelEducations">Level Educations</span></dt>
          <dd>
            @if (trimester()!.levelEducations) {
              <div>
                <a [routerLink]="['/level-education', trimester()!.levelEducations?.id, 'view']">{{
                  trimesterRef.levelEducations?.levelName
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span ceetTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/trimester', trimesterRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span ceetTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
