<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (projectPhase(); as projectPhaseRef) {
      <div>
        <h2 data-cy="projectPhaseDetailsHeading"><span ceetTranslate="ceetApp.projectPhase.detail.title">Project Phase</span></h2>

        <hr />

        <ceet-alert-error />

        <ceet-alert />

        <dl class="row-md jh-entity-details">
          <dt><span ceetTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ projectPhaseRef.id }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.projectPhase.projectPhaseCode">Project Phase Code</span></dt>
          <dd>
            <span>{{ projectPhaseRef.projectPhaseCode }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.projectPhase.projectPhaseState">Project Phase State</span></dt>
          <dd>
            <span>{{ projectPhaseRef.projectPhaseState }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.projectPhase.project">Project</span></dt>
          <dd>
            @if (projectPhase()!.project) {
              <div>
                <a [routerLink]="['/project', projectPhase()!.project?.id, 'view']">{{ projectPhaseRef.project?.projectCode }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span ceetTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/project-phase', projectPhaseRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span ceetTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
