<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (bondingCompetence(); as bondingCompetenceRef) {
      <div>
        <h2 data-cy="bondingCompetenceDetailsHeading">
          <span ceetTranslate="ceetApp.bondingCompetence.detail.title">Bonding Competence</span>
        </h2>

        <hr />

        <ceet-alert-error />

        <ceet-alert />

        <dl class="row-md jh-entity-details">
          <dt><span ceetTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ bondingCompetenceRef.id }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.bondingCompetence.bondingInstructor">Bonding Instructor</span></dt>
          <dd>
            @if (bondingCompetence()!.bondingInstructor) {
              <div>
                <a [routerLink]="['/bonding-instructor', bondingCompetence()!.bondingInstructor?.id, 'view']">{{
                  bondingCompetenceRef.bondingInstructor?.id
                }}</a>
              </div>
            }
          </dd>
          <dt><span ceetTranslate="ceetApp.bondingCompetence.learningCompetence">Learning Competence</span></dt>
          <dd>
            @if (bondingCompetence()!.learningCompetence) {
              <div>
                <a [routerLink]="['/learning-competence', bondingCompetence()!.learningCompetence?.id, 'view']">{{
                  bondingCompetenceRef.learningCompetence?.id
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span ceetTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/bonding-competence', bondingCompetenceRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span ceetTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
