<div>
  <h2 id="page-heading" data-cy="CourseHeading">
    <span ceetTranslate="ceetApp.course.home.title">Courses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span ceetTranslate="ceetApp.course.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-course"
        [routerLink]="['/course/new']"
      >
        <fa-icon icon="plus" />
        <span ceetTranslate="ceetApp.course.home.createLabel">Crear nuevo Course</span>
      </button>
    </div>
  </h2>

  <ceet-alert-error />

  <ceet-alert />

  @if (courses().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span ceetTranslate="ceetApp.course.home.notFound">Ningún Courses encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr ceetSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" ceetSortBy="id">
              <div class="d-flex">
                <span ceetTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="courseNumber">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.course.courseNumber">Course Number</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="startDate">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.course.startDate">Start Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="endDate">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.course.endDate">End Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="route">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.course.route">Route</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="courseStatus.nameCourseStatus">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.course.courseStatus">Course Status</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="workingDayCourse.workingDayName">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.course.workingDayCourse">Working Day Course</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="trainingProgram.id">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.course.trainingProgram">Training Program</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (course of courses(); track trackId(course)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/course', course.id, 'view']">{{ course.id }}</a>
              </td>
              <td>{{ course.courseNumber }}</td>
              <td>{{ course.startDate | formatMediumDate }}</td>
              <td>{{ course.endDate | formatMediumDate }}</td>
              <td>{{ course.route }}</td>
              <td>
                @if (course.courseStatus) {
                  <div>
                    <a [routerLink]="['/course-status', course.courseStatus.id, 'view']">{{ course.courseStatus.nameCourseStatus }}</a>
                  </div>
                }
              </td>
              <td>
                @if (course.workingDayCourse) {
                  <div>
                    <a [routerLink]="['/working-day-course', course.workingDayCourse.id, 'view']">{{
                      course.workingDayCourse.workingDayName
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (course.trainingProgram) {
                  <div>
                    <a [routerLink]="['/training-program', course.trainingProgram.id, 'view']">{{ course.trainingProgram.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/course', course.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" ceetTranslate="entity.action.view">Vista</span>
                  </a>

                  <a [routerLink]="['/course', course.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" ceetTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(course)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" ceetTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (courses().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <ceet-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
