<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="ceet-project-activity-heading"
        data-cy="ProjectActivityCreateUpdateHeading"
        ceetTranslate="ceetApp.projectActivity.home.createOrEditLabel"
      >
        Crear o editar Project Activity
      </h2>

      <div>
        <ceet-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" ceetTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let activityNumberRef = editForm.get('activityNumber')!;
        <div class="mb-3">
          <label class="form-label" for="field_activityNumber" ceetTranslate="ceetApp.projectActivity.activityNumber"
            >Activity Number</label
          >
          <input
            type="number"
            class="form-control"
            name="activityNumber"
            id="field_activityNumber"
            data-cy="activityNumber"
            formControlName="activityNumber"
          />
          @if (activityNumberRef.invalid && (activityNumberRef.dirty || activityNumberRef.touched)) {
            <div>
              @if (editForm.get('activityNumber')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('activityNumber')?.errors?.number"
                ceetTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        @let activityDescriptionRef = editForm.get('activityDescription')!;
        <div class="mb-3">
          <label class="form-label" for="field_activityDescription" ceetTranslate="ceetApp.projectActivity.activityDescription"
            >Activity Description</label
          >
          <input
            type="text"
            class="form-control"
            name="activityDescription"
            id="field_activityDescription"
            data-cy="activityDescription"
            formControlName="activityDescription"
          />
          @if (activityDescriptionRef.invalid && (activityDescriptionRef.dirty || activityDescriptionRef.touched)) {
            <div>
              @if (editForm.get('activityDescription')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('activityDescription')?.errors?.maxlength) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.maxlength" [translateValues]="{ max: '400' }"
                  >Este campo no puede superar más de 400 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let projectActivityStateRef = editForm.get('projectActivityState')!;
        <div class="mb-3">
          <label class="form-label" for="field_projectActivityState" ceetTranslate="ceetApp.projectActivity.projectActivityState"
            >Project Activity State</label
          >
          <input
            type="text"
            class="form-control"
            name="projectActivityState"
            id="field_projectActivityState"
            data-cy="projectActivityState"
            formControlName="projectActivityState"
          />
          @if (projectActivityStateRef.invalid && (projectActivityStateRef.dirty || projectActivityStateRef.touched)) {
            <div>
              @if (editForm.get('projectActivityState')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('projectActivityState')?.errors?.maxlength) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.maxlength" [translateValues]="{ max: '40' }"
                  >Este campo no puede superar más de 40 caracteres.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_projectPhase" ceetTranslate="ceetApp.projectActivity.projectPhase">Project Phase</label>
          <select
            class="form-control"
            id="field_projectPhase"
            data-cy="projectPhase"
            name="projectPhase"
            formControlName="projectPhase"
            [compareWith]="compareProjectPhase"
          >
            @if (editForm.get(['projectPhase'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (projectPhaseOption of projectPhasesSharedCollection(); track $index) {
              <option [ngValue]="projectPhaseOption">{{ projectPhaseOption.id }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['projectPhase'])!.invalid && (editForm.get(['projectPhase'])!.dirty || editForm.get(['projectPhase'])!.touched)
        ) {
          <div>
            @if (editForm.get(['projectPhase'])?.errors?.required) {
              <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span ceetTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span ceetTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
