<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (project(); as projectRef) {
      <div>
        <h2 data-cy="projectDetailsHeading"><span ceetTranslate="ceetApp.project.detail.title">Project</span></h2>

        <hr />

        <ceet-alert-error />

        <ceet-alert />

        <dl class="row-md jh-entity-details">
          <dt><span ceetTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ projectRef.id }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.project.projectCode">Project Code</span></dt>
          <dd>
            <span>{{ projectRef.projectCode }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.project.projectName">Project Name</span></dt>
          <dd>
            <span>{{ projectRef.projectName }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.project.projectState">Project State</span></dt>
          <dd>
            <span [ceetTranslate]="'ceetApp.State.' + (projectRef.projectState ?? 'null')">{{
              { null: '', ACTIVE: 'Activo', INACTIVE: 'Inactivo' }[projectRef.projectState ?? 'null']
            }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.project.trainingProgram">Training Program</span></dt>
          <dd>
            @if (project()!.trainingProgram) {
              <div>
                <a [routerLink]="['/training-program', project()!.trainingProgram?.id, 'view']">{{ projectRef.trainingProgram?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span ceetTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/project', projectRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span ceetTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
