<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (instructor(); as instructorRef) {
      <div>
        <h2 data-cy="instructorDetailsHeading"><span ceetTranslate="ceetApp.instructor.detail.title">Instructor</span></h2>

        <hr />

        <ceet-alert-error />

        <ceet-alert />

        <dl class="row-md jh-entity-details">
          <dt><span ceetTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ instructorRef.id }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.instructor.instructorState">Instructor State</span></dt>
          <dd>
            <span [ceetTranslate]="'ceetApp.State.' + (instructorRef.instructorState ?? 'null')">{{
              { null: '', ACTIVE: 'Activo', INACTIVE: 'Inactivo' }[instructorRef.instructorState ?? 'null']
            }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.instructor.customer">Customer</span></dt>
          <dd>
            @if (instructor()!.customer) {
              <div>
                <a [routerLink]="['/customer', instructor()!.customer?.id, 'view']">{{ instructorRef.customer?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span ceetTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/instructor', instructorRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span ceetTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
