<div>
  <h2 id="page-heading" data-cy="AreaInstructorHeading">
    <span ceetTranslate="ceetApp.areaInstructor.home.title">Area Instructors</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span ceetTranslate="ceetApp.areaInstructor.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-area-instructor"
        [routerLink]="['/area-instructor/new']"
      >
        <fa-icon icon="plus" />
        <span ceetTranslate="ceetApp.areaInstructor.home.createLabel">Crear nuevo Area Instructor</span>
      </button>
    </div>
  </h2>

  <ceet-alert-error />

  <ceet-alert />

  @if (areaInstructors().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span ceetTranslate="ceetApp.areaInstructor.home.notFound">Ningún Area Instructors encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr ceetSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" ceetSortBy="id">
              <div class="d-flex">
                <span ceetTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="areaInstructorState">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.areaInstructor.areaInstructorState">Area Instructor State</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="area.areaName">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.areaInstructor.area">Area</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="instructor.id">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.areaInstructor.instructor">Instructor</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (areaInstructor of areaInstructors(); track trackId(areaInstructor)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/area-instructor', areaInstructor.id, 'view']">{{ areaInstructor.id }}</a>
              </td>
              <td [ceetTranslate]="'ceetApp.State.' + (areaInstructor.areaInstructorState ?? 'null')">
                {{ { null: '', ACTIVE: 'Activo', INACTIVE: 'Inactivo' }[areaInstructor.areaInstructorState ?? 'null'] }}
              </td>
              <td>
                @if (areaInstructor.area) {
                  <div>
                    <a [routerLink]="['/area', areaInstructor.area.id, 'view']">{{ areaInstructor.area.areaName }}</a>
                  </div>
                }
              </td>
              <td>
                @if (areaInstructor.instructor) {
                  <div>
                    <a [routerLink]="['/instructor', areaInstructor.instructor.id, 'view']">{{ areaInstructor.instructor.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/area-instructor', areaInstructor.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" ceetTranslate="entity.action.view">Vista</span>
                  </a>

                  <a
                    [routerLink]="['/area-instructor', areaInstructor.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" ceetTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(areaInstructor)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" ceetTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (areaInstructors().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <ceet-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
