<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="ceet-apprentice-heading" data-cy="ApprenticeCreateUpdateHeading" ceetTranslate="ceetApp.apprentice.home.createOrEditLabel">
        Crear o editar Apprentice
      </h2>

      <div>
        <ceet-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" ceetTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_customer" ceetTranslate="ceetApp.apprentice.customer">Customer</label>
          <select
            class="form-control"
            id="field_customer"
            data-cy="customer"
            name="customer"
            formControlName="customer"
            [compareWith]="compareCustomer"
          >
            @if (editForm.get(['customer'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (customerOption of customersSharedCollection(); track $index) {
              <option [ngValue]="customerOption">{{ customerOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['customer'])!.invalid && (editForm.get(['customer'])!.dirty || editForm.get(['customer'])!.touched)) {
          <div>
            @if (editForm.get(['customer'])?.errors?.required) {
              <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_trainingStatus" ceetTranslate="ceetApp.apprentice.trainingStatus">Training Status</label>
          <select
            class="form-control"
            id="field_trainingStatus"
            data-cy="trainingStatus"
            name="trainingStatus"
            formControlName="trainingStatus"
            [compareWith]="compareTrainingStatus"
          >
            @if (editForm.get(['trainingStatus'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (trainingStatusOption of trainingStatusesSharedCollection(); track $index) {
              <option [ngValue]="trainingStatusOption">{{ trainingStatusOption.statusName }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['trainingStatus'])!.invalid &&
          (editForm.get(['trainingStatus'])!.dirty || editForm.get(['trainingStatus'])!.touched)
        ) {
          <div>
            @if (editForm.get(['trainingStatus'])?.errors?.required) {
              <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_course" ceetTranslate="ceetApp.apprentice.course">Course</label>
          <select
            class="form-control"
            id="field_course"
            data-cy="course"
            name="course"
            formControlName="course"
            [compareWith]="compareCourse"
          >
            @if (editForm.get(['course'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (courseOption of coursesSharedCollection(); track $index) {
              <option [ngValue]="courseOption">{{ courseOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['course'])!.invalid && (editForm.get(['course'])!.dirty || editForm.get(['course'])!.touched)) {
          <div>
            @if (editForm.get(['course'])?.errors?.required) {
              <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span ceetTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span ceetTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
