<div>
  <h2 id="page-heading" data-cy="CheckListCourseHeading">
    <span ceetTranslate="ceetApp.checkListCourse.home.title">Check List Courses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span ceetTranslate="ceetApp.checkListCourse.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-check-list-course"
        [routerLink]="['/check-list-course/new']"
      >
        <fa-icon icon="plus" />
        <span ceetTranslate="ceetApp.checkListCourse.home.createLabel">Crear nuevo Check List Course</span>
      </button>
    </div>
  </h2>

  <ceet-alert-error />

  <ceet-alert />

  @if (checkListCourses().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span ceetTranslate="ceetApp.checkListCourse.home.notFound">Ningún Check List Courses encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr ceetSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" ceetSortBy="id">
              <div class="d-flex">
                <span ceetTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="checkListState">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.checkListCourse.checkListState">Check List State</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="course.id">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.checkListCourse.course">Course</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="checkList.id">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.checkListCourse.checkList">Check List</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (checkListCourse of checkListCourses(); track trackId(checkListCourse)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/check-list-course', checkListCourse.id, 'view']">{{ checkListCourse.id }}</a>
              </td>
              <td [ceetTranslate]="'ceetApp.State.' + (checkListCourse.checkListState ?? 'null')">
                {{ { null: '', ACTIVE: 'Activo', INACTIVE: 'Inactivo' }[checkListCourse.checkListState ?? 'null'] }}
              </td>
              <td>
                @if (checkListCourse.course) {
                  <div>
                    <a [routerLink]="['/course', checkListCourse.course.id, 'view']">{{ checkListCourse.course.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (checkListCourse.checkList) {
                  <div>
                    <a [routerLink]="['/check-list', checkListCourse.checkList.id, 'view']">{{ checkListCourse.checkList.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/check-list-course', checkListCourse.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" ceetTranslate="entity.action.view">Vista</span>
                  </a>

                  <a
                    [routerLink]="['/check-list-course', checkListCourse.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" ceetTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(checkListCourse)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" ceetTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (checkListCourses().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <ceet-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
