<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="ceet-document-type-heading"
        data-cy="DocumentTypeCreateUpdateHeading"
        ceetTranslate="ceetApp.documentType.home.createOrEditLabel"
      >
        Crear o editar Document Type
      </h2>

      <div>
        <ceet-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" ceetTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let initialsRef = editForm.get('initials')!;
        <div class="mb-3">
          <label class="form-label" for="field_initials" ceetTranslate="ceetApp.documentType.initials">Initials</label>
          <input type="text" class="form-control" name="initials" id="field_initials" data-cy="initials" formControlName="initials" />
          @if (initialsRef.invalid && (initialsRef.dirty || initialsRef.touched)) {
            <div>
              @if (editForm.get('initials')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('initials')?.errors?.maxlength) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.maxlength" [translateValues]="{ max: '10' }"
                  >Este campo no puede superar más de 10 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let documentNameRef = editForm.get('documentName')!;
        <div class="mb-3">
          <label class="form-label" for="field_documentName" ceetTranslate="ceetApp.documentType.documentName">Document Name</label>
          <input
            type="text"
            class="form-control"
            name="documentName"
            id="field_documentName"
            data-cy="documentName"
            formControlName="documentName"
          />
          @if (documentNameRef.invalid && (documentNameRef.dirty || documentNameRef.touched)) {
            <div>
              @if (editForm.get('documentName')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('documentName')?.errors?.maxlength) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >Este campo no puede superar más de 100 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let stateDocumentTypeRef = editForm.get('stateDocumentType')!;
        <div class="mb-3">
          <label class="form-label" for="field_stateDocumentType" ceetTranslate="ceetApp.documentType.stateDocumentType"
            >State Document Type</label
          >
          <select
            class="form-control"
            name="stateDocumentType"
            formControlName="stateDocumentType"
            id="field_stateDocumentType"
            data-cy="stateDocumentType"
          >
            <option [ngValue]="null">{{ 'ceetApp.State.null' | translate }}</option>
            @for (state of stateValues; track $index) {
              <option [value]="state">{{ 'ceetApp.State.' + state | translate }}</option>
            }
          </select>
          @if (stateDocumentTypeRef.invalid && (stateDocumentTypeRef.dirty || stateDocumentTypeRef.touched)) {
            <div>
              @if (editForm.get('stateDocumentType')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span ceetTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span ceetTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
