<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (planningActivity(); as planningActivityRef) {
      <div>
        <h2 data-cy="planningActivityDetailsHeading">
          <span ceetTranslate="ceetApp.planningActivity.detail.title">Planning Activity</span>
        </h2>

        <hr />

        <ceet-alert-error />

        <ceet-alert />

        <dl class="row-md jh-entity-details">
          <dt><span ceetTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ planningActivityRef.id }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.planningActivity.quarterSchedule">Quarter Schedule</span></dt>
          <dd>
            @if (planningActivity()!.quarterSchedule) {
              <div>
                <a [routerLink]="['/quarter-schedule', planningActivity()!.quarterSchedule?.id, 'view']">{{
                  planningActivityRef.quarterSchedule?.id
                }}</a>
              </div>
            }
          </dd>
          <dt><span ceetTranslate="ceetApp.planningActivity.projectActivity">Project Activity</span></dt>
          <dd>
            @if (planningActivity()!.projectActivity) {
              <div>
                <a [routerLink]="['/project-activity', planningActivity()!.projectActivity?.id, 'view']">{{
                  planningActivityRef.projectActivity?.id
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span ceetTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/planning-activity', planningActivityRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span ceetTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
