<div>
  <h2>
    <span id="metrics-page-heading" data-cy="metricsPageHeading" ceetTranslate="metrics.title">Métricas de aplicación</span>

    <button class="btn btn-primary float-end" (click)="refresh()">
      <fa-icon icon="sync" /> <span ceetTranslate="metrics.refresh.button">Refrescar</span>
    </button>
  </h2>

  <h3 ceetTranslate="metrics.jvm.title">Métricas de JVM</h3>

  @let metricsRef = metrics();
  @if (metricsRef && !updatingMetrics()) {
    <div class="row">
      <ceet-jvm-memory class="col-md-4" [updating]="updatingMetrics()" [jvmMemoryMetrics]="metricsRef.jvm" />

      <ceet-jvm-threads class="col-md-4" [threads]="threads()" />

      <ceet-metrics-system class="col-md-4" [updating]="updatingMetrics()" [systemMetrics]="metricsRef.processMetrics" />
    </div>
  }

  @if (metricsRef?.garbageCollector; as metricsRefGarbageCollector) {
    <ceet-metrics-garbagecollector [updating]="updatingMetrics()" [garbageCollectorMetrics]="metricsRefGarbageCollector" />
  }

  @if (updatingMetrics()) {
    <div class="well well-lg" ceetTranslate="metrics.updating">Actualizando...</div>
  }

  @if (metricsRef?.['http.server.requests']; as metricsRefHttpServerRequests) {
    <ceet-metrics-request [updating]="updatingMetrics()" [requestMetrics]="metricsRefHttpServerRequests" />
  }

  @if (metricsRef?.services; as metricsRefServices) {
    <ceet-metrics-endpoints-requests [updating]="updatingMetrics()" [endpointsRequestsMetrics]="metricsRefServices" />
  }

  @if (metricsRef?.cache; as metricsRefCache) {
    <ceet-metrics-cache [updating]="updatingMetrics()" [cacheMetrics]="metricsRefCache" />
  }

  @if (metricsRef && metricsKeyExistsAndObjectNotEmpty('databases')) {
    <ceet-metrics-datasource [updating]="updatingMetrics()" [datasourceMetrics]="metricsRef.databases" />
  }
</div>
