<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (scheduleVersion(); as scheduleVersionRef) {
      <div>
        <h2 data-cy="scheduleVersionDetailsHeading"><span ceetTranslate="ceetApp.scheduleVersion.detail.title">Schedule Version</span></h2>

        <hr />

        <ceet-alert-error />

        <ceet-alert />

        <dl class="row-md jh-entity-details">
          <dt><span ceetTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ scheduleVersionRef.id }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.scheduleVersion.versionNumber">Version Number</span></dt>
          <dd>
            <span>{{ scheduleVersionRef.versionNumber }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.scheduleVersion.versionState">Version State</span></dt>
          <dd>
            <span [ceetTranslate]="'ceetApp.State.' + (scheduleVersionRef.versionState ?? 'null')">{{
              { null: '', ACTIVE: 'Activo', INACTIVE: 'Inactivo' }[scheduleVersionRef.versionState ?? 'null']
            }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.scheduleVersion.currentQuarter">Current Quarter</span></dt>
          <dd>
            @if (scheduleVersion()!.currentQuarter) {
              <div>
                <a [routerLink]="['/current-quarter', scheduleVersion()!.currentQuarter?.id, 'view']">{{
                  scheduleVersionRef.currentQuarter?.id
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span ceetTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/schedule-version', scheduleVersionRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span ceetTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
