<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="ceet-bonding-competence-heading"
        data-cy="BondingCompetenceCreateUpdateHeading"
        ceetTranslate="ceetApp.bondingCompetence.home.createOrEditLabel"
      >
        Crear o editar Bonding Competence
      </h2>

      <div>
        <ceet-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" ceetTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_bondingInstructor" ceetTranslate="ceetApp.bondingCompetence.bondingInstructor"
            >Bonding Instructor</label
          >
          <select
            class="form-control"
            id="field_bondingInstructor"
            data-cy="bondingInstructor"
            name="bondingInstructor"
            formControlName="bondingInstructor"
            [compareWith]="compareBondingInstructor"
          >
            @if (editForm.get(['bondingInstructor'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (bondingInstructorOption of bondingInstructorsSharedCollection(); track $index) {
              <option [ngValue]="bondingInstructorOption">{{ bondingInstructorOption.id }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['bondingInstructor'])!.invalid &&
          (editForm.get(['bondingInstructor'])!.dirty || editForm.get(['bondingInstructor'])!.touched)
        ) {
          <div>
            @if (editForm.get(['bondingInstructor'])?.errors?.required) {
              <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_learningCompetence" ceetTranslate="ceetApp.bondingCompetence.learningCompetence"
            >Learning Competence</label
          >
          <select
            class="form-control"
            id="field_learningCompetence"
            data-cy="learningCompetence"
            name="learningCompetence"
            formControlName="learningCompetence"
            [compareWith]="compareLearningCompetence"
          >
            @if (editForm.get(['learningCompetence'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (learningCompetenceOption of learningCompetencesSharedCollection(); track $index) {
              <option [ngValue]="learningCompetenceOption">{{ learningCompetenceOption.id }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['learningCompetence'])!.invalid &&
          (editForm.get(['learningCompetence'])!.dirty || editForm.get(['learningCompetence'])!.touched)
        ) {
          <div>
            @if (editForm.get(['learningCompetence'])?.errors?.required) {
              <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span ceetTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span ceetTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
