<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (logError(); as logErrorRef) {
      <div>
        <h2 data-cy="logErrorDetailsHeading"><span ceetTranslate="ceetApp.logError.detail.title">Log Error</span></h2>

        <hr />

        <ceet-alert-error />

        <ceet-alert />

        <dl class="row-md jh-entity-details">
          <dt><span ceetTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ logErrorRef.id }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.logError.levelError">Level Error</span></dt>
          <dd>
            <span>{{ logErrorRef.levelError }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.logError.logName">Log Name</span></dt>
          <dd>
            <span>{{ logErrorRef.logName }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.logError.messageError">Message Error</span></dt>
          <dd>
            <span>{{ logErrorRef.messageError }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.logError.dateError">Date Error</span></dt>
          <dd>
            <span>{{ logErrorRef.dateError | formatMediumDatetime }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.logError.customer">Customer</span></dt>
          <dd>
            @if (logError()!.customer) {
              <div>
                <a [routerLink]="['/customer', logError()!.customer?.id, 'view']">{{ logErrorRef.customer?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span ceetTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/log-error', logErrorRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span ceetTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
