<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (classroomLimitation(); as classroomLimitationRef) {
      <div>
        <h2 data-cy="classroomLimitationDetailsHeading">
          <span ceetTranslate="ceetApp.classroomLimitation.detail.title">Classroom Limitation</span>
        </h2>

        <hr />

        <ceet-alert-error />

        <ceet-alert />

        <dl class="row-md jh-entity-details">
          <dt><span ceetTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ classroomLimitationRef.id }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.classroomLimitation.classroom">Classroom</span></dt>
          <dd>
            @if (classroomLimitation()!.classroom) {
              <div>
                <a [routerLink]="['/classroom', classroomLimitation()!.classroom?.id, 'view']">{{
                  classroomLimitationRef.classroom?.id
                }}</a>
              </div>
            }
          </dd>
          <dt><span ceetTranslate="ceetApp.classroomLimitation.learningResult">Learning Result</span></dt>
          <dd>
            @if (classroomLimitation()!.learningResult) {
              <div>
                <a [routerLink]="['/learning-result', classroomLimitation()!.learningResult?.id, 'view']">{{
                  classroomLimitationRef.learningResult?.id
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span ceetTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/classroom-limitation', classroomLimitationRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span ceetTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
