<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (projectActivity(); as projectActivityRef) {
      <div>
        <h2 data-cy="projectActivityDetailsHeading"><span ceetTranslate="ceetApp.projectActivity.detail.title">Project Activity</span></h2>

        <hr />

        <ceet-alert-error />

        <ceet-alert />

        <dl class="row-md jh-entity-details">
          <dt><span ceetTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ projectActivityRef.id }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.projectActivity.activityNumber">Activity Number</span></dt>
          <dd>
            <span>{{ projectActivityRef.activityNumber }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.projectActivity.activityDescription">Activity Description</span></dt>
          <dd>
            <span>{{ projectActivityRef.activityDescription }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.projectActivity.projectActivityState">Project Activity State</span></dt>
          <dd>
            <span>{{ projectActivityRef.projectActivityState }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.projectActivity.projectPhase">Project Phase</span></dt>
          <dd>
            @if (projectActivity()!.projectPhase) {
              <div>
                <a [routerLink]="['/project-phase', projectActivity()!.projectPhase?.id, 'view']">{{
                  projectActivityRef.projectPhase?.id
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span ceetTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/project-activity', projectActivityRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span ceetTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
