<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (trainingProgram(); as trainingProgramRef) {
      <div>
        <h2 data-cy="trainingProgramDetailsHeading"><span ceetTranslate="ceetApp.trainingProgram.detail.title">Training Program</span></h2>

        <hr />

        <ceet-alert-error />

        <ceet-alert />

        <dl class="row-md jh-entity-details">
          <dt><span ceetTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ trainingProgramRef.id }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.trainingProgram.programCode">Program Code</span></dt>
          <dd>
            <span>{{ trainingProgramRef.programCode }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.trainingProgram.programVersion">Program Version</span></dt>
          <dd>
            <span>{{ trainingProgramRef.programVersion }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.trainingProgram.programName">Program Name</span></dt>
          <dd>
            <span>{{ trainingProgramRef.programName }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.trainingProgram.programInitials">Program Initials</span></dt>
          <dd>
            <span>{{ trainingProgramRef.programInitials }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.trainingProgram.programState">Program State</span></dt>
          <dd>
            <span [ceetTranslate]="'ceetApp.StateProgram.' + (trainingProgramRef.programState ?? 'null')">{{
              { null: '', EXECUTION: 'Ejecución', DISCONTINUED: 'Suspendido' }[trainingProgramRef.programState ?? 'null']
            }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.trainingProgram.levelEducation">Level Education</span></dt>
          <dd>
            @if (trainingProgram()!.levelEducation) {
              <div>
                <a [routerLink]="['/level-education', trainingProgram()!.levelEducation?.id, 'view']">{{
                  trainingProgramRef.levelEducation?.levelName
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span ceetTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/training-program', trainingProgramRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span ceetTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
