<div>
  <h2 id="page-heading" data-cy="ProjectGroupHeading">
    <span ceetTranslate="ceetApp.projectGroup.home.title">Project Groups</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span ceetTranslate="ceetApp.projectGroup.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-project-group"
        [routerLink]="['/project-group/new']"
      >
        <fa-icon icon="plus" />
        <span ceetTranslate="ceetApp.projectGroup.home.createLabel">Crear nuevo Project Group</span>
      </button>
    </div>
  </h2>

  <ceet-alert-error />

  <ceet-alert />

  @if (projectGroups().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span ceetTranslate="ceetApp.projectGroup.home.notFound">Ningún Project Groups encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr ceetSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" ceetSortBy="id">
              <div class="d-flex">
                <span ceetTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="groupNumber">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.projectGroup.groupNumber">Group Number</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="projectName">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.projectGroup.projectName">Project Name</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="projectGroupState">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.projectGroup.projectGroupState">Project Group State</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="course.courseNumber">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.projectGroup.course">Course</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (projectGroup of projectGroups(); track trackId(projectGroup)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/project-group', projectGroup.id, 'view']">{{ projectGroup.id }}</a>
              </td>
              <td>{{ projectGroup.groupNumber }}</td>
              <td>{{ projectGroup.projectName }}</td>
              <td [ceetTranslate]="'ceetApp.State.' + (projectGroup.projectGroupState ?? 'null')">
                {{ { null: '', ACTIVE: 'Activo', INACTIVE: 'Inactivo' }[projectGroup.projectGroupState ?? 'null'] }}
              </td>
              <td>
                @if (projectGroup.course) {
                  <div>
                    <a [routerLink]="['/course', projectGroup.course.id, 'view']">{{ projectGroup.course.courseNumber }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/project-group', projectGroup.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" ceetTranslate="entity.action.view">Vista</span>
                  </a>

                  <a [routerLink]="['/project-group', projectGroup.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" ceetTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(projectGroup)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" ceetTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (projectGroups().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <ceet-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
