<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (bondingInstructor(); as bondingInstructorRef) {
      <div>
        <h2 data-cy="bondingInstructorDetailsHeading">
          <span ceetTranslate="ceetApp.bondingInstructor.detail.title">Bonding Instructor</span>
        </h2>

        <hr />

        <ceet-alert-error />

        <ceet-alert />

        <dl class="row-md jh-entity-details">
          <dt><span ceetTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ bondingInstructorRef.id }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.bondingInstructor.startTime">Start Time</span></dt>
          <dd>
            <span>{{ bondingInstructorRef.startTime | formatMediumDate }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.bondingInstructor.endTime">End Time</span></dt>
          <dd>
            <span>{{ bondingInstructorRef.endTime | formatMediumDate }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.bondingInstructor.year">Year</span></dt>
          <dd>
            @if (bondingInstructor()!.year) {
              <div>
                <a [routerLink]="['/year', bondingInstructor()!.year?.id, 'view']">{{ bondingInstructorRef.year?.yearNumber }}</a>
              </div>
            }
          </dd>
          <dt><span ceetTranslate="ceetApp.bondingInstructor.instructor">Instructor</span></dt>
          <dd>
            @if (bondingInstructor()!.instructor) {
              <div>
                <a [routerLink]="['/instructor', bondingInstructor()!.instructor?.id, 'view']">{{ bondingInstructorRef.instructor?.id }}</a>
              </div>
            }
          </dd>
          <dt><span ceetTranslate="ceetApp.bondingInstructor.bonding">Bonding</span></dt>
          <dd>
            @if (bondingInstructor()!.bonding) {
              <div>
                <a [routerLink]="['/bonding', bondingInstructor()!.bonding?.id, 'view']">{{ bondingInstructorRef.bonding?.bondingType }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span ceetTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/bonding-instructor', bondingInstructorRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span ceetTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
