<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (memberGroup(); as memberGroupRef) {
      <div>
        <h2 data-cy="memberGroupDetailsHeading"><span ceetTranslate="ceetApp.memberGroup.detail.title">Member Group</span></h2>

        <hr />

        <ceet-alert-error />

        <ceet-alert />

        <dl class="row-md jh-entity-details">
          <dt><span ceetTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ memberGroupRef.id }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.memberGroup.projectGroup">Project Group</span></dt>
          <dd>
            @if (memberGroup()!.projectGroup) {
              <div>
                <a [routerLink]="['/project-group', memberGroup()!.projectGroup?.id, 'view']">{{ memberGroupRef.projectGroup?.id }}</a>
              </div>
            }
          </dd>
          <dt><span ceetTranslate="ceetApp.memberGroup.apprentice">Apprentice</span></dt>
          <dd>
            @if (memberGroup()!.apprentice) {
              <div>
                <a [routerLink]="['/apprentice', memberGroup()!.apprentice?.id, 'view']">{{ memberGroupRef.apprentice?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span ceetTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/member-group', memberGroupRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span ceetTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
