<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="ceet-observation-response-heading"
        data-cy="ObservationResponseCreateUpdateHeading"
        ceetTranslate="ceetApp.observationResponse.home.createOrEditLabel"
      >
        Crear o editar Observation Response
      </h2>

      <div>
        <ceet-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" ceetTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let numberObservationRef = editForm.get('numberObservation')!;
        <div class="mb-3">
          <label class="form-label" for="field_numberObservation" ceetTranslate="ceetApp.observationResponse.numberObservation"
            >Number Observation</label
          >
          <input
            type="number"
            class="form-control"
            name="numberObservation"
            id="field_numberObservation"
            data-cy="numberObservation"
            formControlName="numberObservation"
          />
          @if (numberObservationRef.invalid && (numberObservationRef.dirty || numberObservationRef.touched)) {
            <div>
              @if (editForm.get('numberObservation')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('numberObservation')?.errors?.number"
                ceetTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        @let obsevationRef = editForm.get('obsevation')!;
        <div class="mb-3">
          <label class="form-label" for="field_obsevation" ceetTranslate="ceetApp.observationResponse.obsevation">Obsevation</label>
          <input
            type="text"
            class="form-control"
            name="obsevation"
            id="field_obsevation"
            data-cy="obsevation"
            formControlName="obsevation"
          />
          @if (obsevationRef.invalid && (obsevationRef.dirty || obsevationRef.touched)) {
            <div>
              @if (editForm.get('obsevation')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('obsevation')?.errors?.maxlength) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.maxlength" [translateValues]="{ max: '400' }"
                  >Este campo no puede superar más de 400 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let juriesRef = editForm.get('juries')!;
        <div class="mb-3">
          <label class="form-label" for="field_juries" ceetTranslate="ceetApp.observationResponse.juries">Juries</label>
          <input type="text" class="form-control" name="juries" id="field_juries" data-cy="juries" formControlName="juries" />
          @if (juriesRef.invalid && (juriesRef.dirty || juriesRef.touched)) {
            <div>
              @if (editForm.get('juries')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('juries')?.errors?.maxlength) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.maxlength" [translateValues]="{ max: '400' }"
                  >Este campo no puede superar más de 400 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let dateObservationRef = editForm.get('dateObservation')!;
        <div class="mb-3">
          <label class="form-label" for="field_dateObservation" ceetTranslate="ceetApp.observationResponse.dateObservation"
            >Date Observation</label
          >
          <div class="d-flex">
            <input
              id="field_dateObservation"
              data-cy="dateObservation"
              type="datetime-local"
              class="form-control"
              name="dateObservation"
              formControlName="dateObservation"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (dateObservationRef.invalid && (dateObservationRef.dirty || dateObservationRef.touched)) {
            <div>
              @if (editForm.get('dateObservation')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('dateObservation')?.errors?.datetimelocal"
                ceetTranslate="entity.validation.datetimelocal"
                >Este campo debe ser una fecha y hora.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_groupResponse" ceetTranslate="ceetApp.observationResponse.groupResponse"
            >Group Response</label
          >
          <select
            class="form-control"
            id="field_groupResponse"
            data-cy="groupResponse"
            name="groupResponse"
            formControlName="groupResponse"
            [compareWith]="compareGroupResponse"
          >
            @if (editForm.get(['groupResponse'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (groupResponseOption of groupResponsesSharedCollection(); track $index) {
              <option [ngValue]="groupResponseOption">{{ groupResponseOption.id }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['groupResponse'])!.invalid && (editForm.get(['groupResponse'])!.dirty || editForm.get(['groupResponse'])!.touched)
        ) {
          <div>
            @if (editForm.get(['groupResponse'])?.errors?.required) {
              <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_customer" ceetTranslate="ceetApp.observationResponse.customer">Customer</label>
          <select
            class="form-control"
            id="field_customer"
            data-cy="customer"
            name="customer"
            formControlName="customer"
            [compareWith]="compareCustomer"
          >
            @if (editForm.get(['customer'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (customerOption of customersSharedCollection(); track $index) {
              <option [ngValue]="customerOption">{{ customerOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['customer'])!.invalid && (editForm.get(['customer'])!.dirty || editForm.get(['customer'])!.touched)) {
          <div>
            @if (editForm.get(['customer'])?.errors?.required) {
              <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span ceetTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span ceetTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
