<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="ceet-bonding-instructor-heading"
        data-cy="BondingInstructorCreateUpdateHeading"
        ceetTranslate="ceetApp.bondingInstructor.home.createOrEditLabel"
      >
        Crear o editar Bonding Instructor
      </h2>

      <div>
        <ceet-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" ceetTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let startTimeRef = editForm.get('startTime')!;
        <div class="mb-3">
          <label class="form-label" for="field_startTime" ceetTranslate="ceetApp.bondingInstructor.startTime">Start Time</label>
          <div class="input-group">
            <input
              id="field_startTime"
              data-cy="startTime"
              type="text"
              class="form-control"
              name="startTime"
              ngbDatepicker
              #startTimeDp="ngbDatepicker"
              formControlName="startTime"
            />
            <button type="button" class="btn btn-secondary" (click)="startTimeDp.toggle()"><fa-icon icon="calendar-alt" /></button>
          </div>
          @if (startTimeRef.invalid && (startTimeRef.dirty || startTimeRef.touched)) {
            <div>
              @if (editForm.get('startTime')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        @let endTimeRef = editForm.get('endTime')!;
        <div class="mb-3">
          <label class="form-label" for="field_endTime" ceetTranslate="ceetApp.bondingInstructor.endTime">End Time</label>
          <div class="input-group">
            <input
              id="field_endTime"
              data-cy="endTime"
              type="text"
              class="form-control"
              name="endTime"
              ngbDatepicker
              #endTimeDp="ngbDatepicker"
              formControlName="endTime"
            />
            <button type="button" class="btn btn-secondary" (click)="endTimeDp.toggle()"><fa-icon icon="calendar-alt" /></button>
          </div>
          @if (endTimeRef.invalid && (endTimeRef.dirty || endTimeRef.touched)) {
            <div>
              @if (editForm.get('endTime')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_year" ceetTranslate="ceetApp.bondingInstructor.year">Year</label>
          <select class="form-control" id="field_year" data-cy="year" name="year" formControlName="year" [compareWith]="compareYear">
            @if (editForm.get(['year'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (yearOption of yearsSharedCollection(); track $index) {
              <option [ngValue]="yearOption">{{ yearOption.yearNumber }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['year'])!.invalid && (editForm.get(['year'])!.dirty || editForm.get(['year'])!.touched)) {
          <div>
            @if (editForm.get(['year'])?.errors?.required) {
              <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_instructor" ceetTranslate="ceetApp.bondingInstructor.instructor">Instructor</label>
          <select
            class="form-control"
            id="field_instructor"
            data-cy="instructor"
            name="instructor"
            formControlName="instructor"
            [compareWith]="compareInstructor"
          >
            @if (editForm.get(['instructor'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (instructorOption of instructorsSharedCollection(); track $index) {
              <option [ngValue]="instructorOption">{{ instructorOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['instructor'])!.invalid && (editForm.get(['instructor'])!.dirty || editForm.get(['instructor'])!.touched)) {
          <div>
            @if (editForm.get(['instructor'])?.errors?.required) {
              <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_bonding" ceetTranslate="ceetApp.bondingInstructor.bonding">Bonding</label>
          <select
            class="form-control"
            id="field_bonding"
            data-cy="bonding"
            name="bonding"
            formControlName="bonding"
            [compareWith]="compareBonding"
          >
            @if (editForm.get(['bonding'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (bondingOption of bondingsSharedCollection(); track $index) {
              <option [ngValue]="bondingOption">{{ bondingOption.bondingType }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['bonding'])!.invalid && (editForm.get(['bonding'])!.dirty || editForm.get(['bonding'])!.touched)) {
          <div>
            @if (editForm.get(['bonding'])?.errors?.required) {
              <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span ceetTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span ceetTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
