<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (generalObservation(); as generalObservationRef) {
      <div>
        <h2 data-cy="generalObservationDetailsHeading">
          <span ceetTranslate="ceetApp.generalObservation.detail.title">General Observation</span>
        </h2>

        <hr />

        <ceet-alert-error />

        <ceet-alert />

        <dl class="row-md jh-entity-details">
          <dt><span ceetTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ generalObservationRef.id }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.generalObservation.number">Number</span></dt>
          <dd>
            <span>{{ generalObservationRef.number }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.generalObservation.observationGeneral">Observation General</span></dt>
          <dd>
            <span>{{ generalObservationRef.observationGeneral }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.generalObservation.jury">Jury</span></dt>
          <dd>
            <span>{{ generalObservationRef.jury }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.generalObservation.dateAudit">Date Audit</span></dt>
          <dd>
            <span>{{ generalObservationRef.dateAudit | formatMediumDatetime }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.generalObservation.projectGroup">Project Group</span></dt>
          <dd>
            @if (generalObservation()!.projectGroup) {
              <div>
                <a [routerLink]="['/project-group', generalObservation()!.projectGroup?.id, 'view']">{{
                  generalObservationRef.projectGroup?.id
                }}</a>
              </div>
            }
          </dd>
          <dt><span ceetTranslate="ceetApp.generalObservation.customer">Customer</span></dt>
          <dd>
            @if (generalObservation()!.customer) {
              <div>
                <a [routerLink]="['/customer', generalObservation()!.customer?.id, 'view']">{{ generalObservationRef.customer?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span ceetTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/general-observation', generalObservationRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span ceetTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
