<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="ceet-project-group-heading"
        data-cy="ProjectGroupCreateUpdateHeading"
        ceetTranslate="ceetApp.projectGroup.home.createOrEditLabel"
      >
        Crear o editar Project Group
      </h2>

      <div>
        <ceet-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" ceetTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let groupNumberRef = editForm.get('groupNumber')!;
        <div class="mb-3">
          <label class="form-label" for="field_groupNumber" ceetTranslate="ceetApp.projectGroup.groupNumber">Group Number</label>
          <input
            type="number"
            class="form-control"
            name="groupNumber"
            id="field_groupNumber"
            data-cy="groupNumber"
            formControlName="groupNumber"
          />
          @if (groupNumberRef.invalid && (groupNumberRef.dirty || groupNumberRef.touched)) {
            <div>
              @if (editForm.get('groupNumber')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('groupNumber')?.errors?.number"
                ceetTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        @let projectNameRef = editForm.get('projectName')!;
        <div class="mb-3">
          <label class="form-label" for="field_projectName" ceetTranslate="ceetApp.projectGroup.projectName">Project Name</label>
          <input
            type="text"
            class="form-control"
            name="projectName"
            id="field_projectName"
            data-cy="projectName"
            formControlName="projectName"
          />
          @if (projectNameRef.invalid && (projectNameRef.dirty || projectNameRef.touched)) {
            <div>
              @if (editForm.get('projectName')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('projectName')?.errors?.maxlength) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.maxlength" [translateValues]="{ max: '300' }"
                  >Este campo no puede superar más de 300 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let projectGroupStateRef = editForm.get('projectGroupState')!;
        <div class="mb-3">
          <label class="form-label" for="field_projectGroupState" ceetTranslate="ceetApp.projectGroup.projectGroupState"
            >Project Group State</label
          >
          <select
            class="form-control"
            name="projectGroupState"
            formControlName="projectGroupState"
            id="field_projectGroupState"
            data-cy="projectGroupState"
          >
            <option [ngValue]="null">{{ 'ceetApp.State.null' | translate }}</option>
            @for (state of stateValues; track $index) {
              <option [value]="state">{{ 'ceetApp.State.' + state | translate }}</option>
            }
          </select>
          @if (projectGroupStateRef.invalid && (projectGroupStateRef.dirty || projectGroupStateRef.touched)) {
            <div>
              @if (editForm.get('projectGroupState')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_course" ceetTranslate="ceetApp.projectGroup.course">Course</label>
          <select
            class="form-control"
            id="field_course"
            data-cy="course"
            name="course"
            formControlName="course"
            [compareWith]="compareCourse"
          >
            @if (editForm.get(['course'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (courseOption of coursesSharedCollection(); track $index) {
              <option [ngValue]="courseOption">{{ courseOption.courseNumber }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['course'])!.invalid && (editForm.get(['course'])!.dirty || editForm.get(['course'])!.touched)) {
          <div>
            @if (editForm.get(['course'])?.errors?.required) {
              <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span ceetTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span ceetTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
