<div>
  <h2 id="page-heading" data-cy="ScheduleVersionHeading">
    <span ceetTranslate="ceetApp.scheduleVersion.home.title">Schedule Versions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span ceetTranslate="ceetApp.scheduleVersion.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-schedule-version"
        [routerLink]="['/schedule-version/new']"
      >
        <fa-icon icon="plus" />
        <span ceetTranslate="ceetApp.scheduleVersion.home.createLabel">Crear nuevo Schedule Version</span>
      </button>
    </div>
  </h2>

  <ceet-alert-error />

  <ceet-alert />

  @if (scheduleVersions().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span ceetTranslate="ceetApp.scheduleVersion.home.notFound">Ningún Schedule Versions encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr ceetSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" ceetSortBy="id">
              <div class="d-flex">
                <span ceetTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="versionNumber">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.scheduleVersion.versionNumber">Version Number</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="versionState">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.scheduleVersion.versionState">Version State</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" ceetSortBy="currentQuarter.id">
              <div class="d-flex">
                <span ceetTranslate="ceetApp.scheduleVersion.currentQuarter">Current Quarter</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (scheduleVersion of scheduleVersions(); track trackId(scheduleVersion)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/schedule-version', scheduleVersion.id, 'view']">{{ scheduleVersion.id }}</a>
              </td>
              <td>{{ scheduleVersion.versionNumber }}</td>
              <td [ceetTranslate]="'ceetApp.State.' + (scheduleVersion.versionState ?? 'null')">
                {{ { null: '', ACTIVE: 'Activo', INACTIVE: 'Inactivo' }[scheduleVersion.versionState ?? 'null'] }}
              </td>
              <td>
                @if (scheduleVersion.currentQuarter) {
                  <div>
                    <a [routerLink]="['/current-quarter', scheduleVersion.currentQuarter.id, 'view']">{{
                      scheduleVersion.currentQuarter.id
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/schedule-version', scheduleVersion.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" ceetTranslate="entity.action.view">Vista</span>
                  </a>

                  <a
                    [routerLink]="['/schedule-version', scheduleVersion.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" ceetTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(scheduleVersion)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" ceetTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (scheduleVersions().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <ceet-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
