<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (courseTrimester(); as courseTrimesterRef) {
      <div>
        <h2 data-cy="courseTrimesterDetailsHeading"><span ceetTranslate="ceetApp.courseTrimester.detail.title">Course Trimester</span></h2>

        <hr />

        <ceet-alert-error />

        <ceet-alert />

        <dl class="row-md jh-entity-details">
          <dt><span ceetTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ courseTrimesterRef.id }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.courseTrimester.course">Course</span></dt>
          <dd>
            @if (courseTrimester()!.course) {
              <div>
                <a [routerLink]="['/course', courseTrimester()!.course?.id, 'view']">{{ courseTrimesterRef.course?.courseNumber }}</a>
              </div>
            }
          </dd>
          <dt><span ceetTranslate="ceetApp.courseTrimester.trimester">Trimester</span></dt>
          <dd>
            @if (courseTrimester()!.trimester) {
              <div>
                <a [routerLink]="['/trimester', courseTrimester()!.trimester?.id, 'view']">{{ courseTrimesterRef.trimester?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span ceetTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/course-trimester', courseTrimesterRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span ceetTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
