<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (coursePlanning(); as coursePlanningRef) {
      <div>
        <h2 data-cy="coursePlanningDetailsHeading"><span ceetTranslate="ceetApp.coursePlanning.detail.title">Course Planning</span></h2>

        <hr />

        <ceet-alert-error />

        <ceet-alert />

        <dl class="row-md jh-entity-details">
          <dt><span ceetTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ coursePlanningRef.id }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.coursePlanning.stateCoursePlanning">State Course Planning</span></dt>
          <dd>
            <span [ceetTranslate]="'ceetApp.State.' + (coursePlanningRef.stateCoursePlanning ?? 'null')">{{
              { null: '', ACTIVE: 'Activo', INACTIVE: 'Inactivo' }[coursePlanningRef.stateCoursePlanning ?? 'null']
            }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.coursePlanning.course">Course</span></dt>
          <dd>
            @if (coursePlanning()!.course) {
              <div>
                <a [routerLink]="['/course', coursePlanning()!.course?.id, 'view']">{{ coursePlanningRef.course?.courseNumber }}</a>
              </div>
            }
          </dd>
          <dt><span ceetTranslate="ceetApp.coursePlanning.planning">Planning</span></dt>
          <dd>
            @if (coursePlanning()!.planning) {
              <div>
                <a [routerLink]="['/planning', coursePlanning()!.planning?.id, 'view']">{{ coursePlanningRef.planning?.planningCode }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span ceetTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/course-planning', coursePlanningRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span ceetTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
