<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="ceet-customer-heading" data-cy="CustomerCreateUpdateHeading" ceetTranslate="ceetApp.customer.home.createOrEditLabel">
        Crear o editar Customer
      </h2>

      <div>
        <ceet-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" ceetTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let documentNumberRef = editForm.get('documentNumber')!;
        <div class="mb-3">
          <label class="form-label" for="field_documentNumber" ceetTranslate="ceetApp.customer.documentNumber">Document Number</label>
          <input
            type="text"
            class="form-control"
            name="documentNumber"
            id="field_documentNumber"
            data-cy="documentNumber"
            formControlName="documentNumber"
          />
          @if (documentNumberRef.invalid && (documentNumberRef.dirty || documentNumberRef.touched)) {
            <div>
              @if (editForm.get('documentNumber')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('documentNumber')?.errors?.maxlength) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >Este campo no puede superar más de 50 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let firstNameRef = editForm.get('firstName')!;
        <div class="mb-3">
          <label class="form-label" for="field_firstName" ceetTranslate="ceetApp.customer.firstName">First Name</label>
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
          @if (firstNameRef.invalid && (firstNameRef.dirty || firstNameRef.touched)) {
            <div>
              @if (editForm.get('firstName')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('firstName')?.errors?.maxlength) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >Este campo no puede superar más de 50 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let secondNameRef = editForm.get('secondName')!;
        <div class="mb-3">
          <label class="form-label" for="field_secondName" ceetTranslate="ceetApp.customer.secondName">Second Name</label>
          <input
            type="text"
            class="form-control"
            name="secondName"
            id="field_secondName"
            data-cy="secondName"
            formControlName="secondName"
          />
          @if (secondNameRef.invalid && (secondNameRef.dirty || secondNameRef.touched)) {
            <div>
              @if (editForm.get('secondName')?.errors?.maxlength) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >Este campo no puede superar más de 50 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let fisrtLastNameRef = editForm.get('fisrtLastName')!;
        <div class="mb-3">
          <label class="form-label" for="field_fisrtLastName" ceetTranslate="ceetApp.customer.fisrtLastName">Fisrt Last Name</label>
          <input
            type="text"
            class="form-control"
            name="fisrtLastName"
            id="field_fisrtLastName"
            data-cy="fisrtLastName"
            formControlName="fisrtLastName"
          />
          @if (fisrtLastNameRef.invalid && (fisrtLastNameRef.dirty || fisrtLastNameRef.touched)) {
            <div>
              @if (editForm.get('fisrtLastName')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('fisrtLastName')?.errors?.maxlength) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >Este campo no puede superar más de 50 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let secondLastNameRef = editForm.get('secondLastName')!;
        <div class="mb-3">
          <label class="form-label" for="field_secondLastName" ceetTranslate="ceetApp.customer.secondLastName">Second Last Name</label>
          <input
            type="text"
            class="form-control"
            name="secondLastName"
            id="field_secondLastName"
            data-cy="secondLastName"
            formControlName="secondLastName"
          />
          @if (secondLastNameRef.invalid && (secondLastNameRef.dirty || secondLastNameRef.touched)) {
            <div>
              @if (editForm.get('secondLastName')?.errors?.maxlength) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >Este campo no puede superar más de 50 caracteres.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_user" ceetTranslate="ceetApp.customer.user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            @if (!editForm.get('user')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (userOption of usersSharedCollection(); track $index) {
              <option [ngValue]="userOption">{{ userOption.login }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['user'])!.invalid && (editForm.get(['user'])!.dirty || editForm.get(['user'])!.touched)) {
          <div>
            @if (editForm.get(['user'])?.errors?.required) {
              <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_documentType" ceetTranslate="ceetApp.customer.documentType">Document Type</label>
          <select
            class="form-control"
            id="field_documentType"
            data-cy="documentType"
            name="documentType"
            formControlName="documentType"
            [compareWith]="compareDocumentType"
          >
            @if (editForm.get(['documentType'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (documentTypeOption of documentTypesSharedCollection(); track $index) {
              <option [ngValue]="documentTypeOption">{{ documentTypeOption.documentName }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['documentType'])!.invalid && (editForm.get(['documentType'])!.dirty || editForm.get(['documentType'])!.touched)
        ) {
          <div>
            @if (editForm.get(['documentType'])?.errors?.required) {
              <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span ceetTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span ceetTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
