<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (learningCompetence(); as learningCompetenceRef) {
      <div>
        <h2 data-cy="learningCompetenceDetailsHeading">
          <span ceetTranslate="ceetApp.learningCompetence.detail.title">Learning Competence</span>
        </h2>

        <hr />

        <ceet-alert-error />

        <ceet-alert />

        <dl class="row-md jh-entity-details">
          <dt><span ceetTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ learningCompetenceRef.id }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.learningCompetence.competenceCode">Competence Code</span></dt>
          <dd>
            <span>{{ learningCompetenceRef.competenceCode }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.learningCompetence.competitionDenomination">Competition Denomination</span></dt>
          <dd>
            <span>{{ learningCompetenceRef.competitionDenomination }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.learningCompetence.trainingProgram">Training Program</span></dt>
          <dd>
            @if (learningCompetence()!.trainingProgram) {
              <div>
                <a [routerLink]="['/training-program', learningCompetence()!.trainingProgram?.id, 'view']">{{
                  learningCompetenceRef.trainingProgram?.id
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span ceetTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/learning-competence', learningCompetenceRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span ceetTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
