<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (boundingSchedule(); as boundingScheduleRef) {
      <div>
        <h2 data-cy="boundingScheduleDetailsHeading">
          <span ceetTranslate="ceetApp.boundingSchedule.detail.title">Bounding Schedule</span>
        </h2>

        <hr />

        <ceet-alert-error />

        <ceet-alert />

        <dl class="row-md jh-entity-details">
          <dt><span ceetTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ boundingScheduleRef.id }}</span>
          </dd>
          <dt><span ceetTranslate="ceetApp.boundingSchedule.bondingInstructor">Bonding Instructor</span></dt>
          <dd>
            @if (boundingSchedule()!.bondingInstructor) {
              <div>
                <a [routerLink]="['/bonding-instructor', boundingSchedule()!.bondingInstructor?.id, 'view']">{{
                  boundingScheduleRef.bondingInstructor?.id
                }}</a>
              </div>
            }
          </dd>
          <dt><span ceetTranslate="ceetApp.boundingSchedule.instructorWorkingDay">Instructor Working Day</span></dt>
          <dd>
            @if (boundingSchedule()!.instructorWorkingDay) {
              <div>
                <a [routerLink]="['/instructor-working-day', boundingSchedule()!.instructorWorkingDay?.id, 'view']">{{
                  boundingScheduleRef.instructorWorkingDay?.id
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span ceetTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/bounding-schedule', boundingScheduleRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span ceetTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
