<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="ceet-planning-activity-heading"
        data-cy="PlanningActivityCreateUpdateHeading"
        ceetTranslate="ceetApp.planningActivity.home.createOrEditLabel"
      >
        Crear o editar Planning Activity
      </h2>

      <div>
        <ceet-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" ceetTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_quarterSchedule" ceetTranslate="ceetApp.planningActivity.quarterSchedule"
            >Quarter Schedule</label
          >
          <select
            class="form-control"
            id="field_quarterSchedule"
            data-cy="quarterSchedule"
            name="quarterSchedule"
            formControlName="quarterSchedule"
            [compareWith]="compareQuarterSchedule"
          >
            @if (editForm.get(['quarterSchedule'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (quarterScheduleOption of quarterSchedulesSharedCollection(); track $index) {
              <option [ngValue]="quarterScheduleOption">{{ quarterScheduleOption.id }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['quarterSchedule'])!.invalid &&
          (editForm.get(['quarterSchedule'])!.dirty || editForm.get(['quarterSchedule'])!.touched)
        ) {
          <div>
            @if (editForm.get(['quarterSchedule'])?.errors?.required) {
              <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_projectActivity" ceetTranslate="ceetApp.planningActivity.projectActivity"
            >Project Activity</label
          >
          <select
            class="form-control"
            id="field_projectActivity"
            data-cy="projectActivity"
            name="projectActivity"
            formControlName="projectActivity"
            [compareWith]="compareProjectActivity"
          >
            @if (editForm.get(['projectActivity'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (projectActivityOption of projectActivitiesSharedCollection(); track $index) {
              <option [ngValue]="projectActivityOption">{{ projectActivityOption.id }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['projectActivity'])!.invalid &&
          (editForm.get(['projectActivity'])!.dirty || editForm.get(['projectActivity'])!.touched)
        ) {
          <div>
            @if (editForm.get(['projectActivity'])?.errors?.required) {
              <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span ceetTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span ceetTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
