<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="ceet-group-response-heading"
        data-cy="GroupResponseCreateUpdateHeading"
        ceetTranslate="ceetApp.groupResponse.home.createOrEditLabel"
      >
        Crear o editar Group Response
      </h2>

      <div>
        <ceet-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" ceetTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let evaluationDateRef = editForm.get('evaluationDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_evaluationDate" ceetTranslate="ceetApp.groupResponse.evaluationDate">Evaluation Date</label>
          <div class="d-flex">
            <input
              id="field_evaluationDate"
              data-cy="evaluationDate"
              type="datetime-local"
              class="form-control"
              name="evaluationDate"
              formControlName="evaluationDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (evaluationDateRef.invalid && (evaluationDateRef.dirty || evaluationDateRef.touched)) {
            <div>
              @if (editForm.get('evaluationDate')?.errors?.required) {
                <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('evaluationDate')?.errors?.datetimelocal"
                ceetTranslate="entity.validation.datetimelocal"
                >Este campo debe ser una fecha y hora.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_projectGroup" ceetTranslate="ceetApp.groupResponse.projectGroup">Project Group</label>
          <select
            class="form-control"
            id="field_projectGroup"
            data-cy="projectGroup"
            name="projectGroup"
            formControlName="projectGroup"
            [compareWith]="compareProjectGroup"
          >
            @if (editForm.get(['projectGroup'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (projectGroupOption of projectGroupsSharedCollection(); track $index) {
              <option [ngValue]="projectGroupOption">{{ projectGroupOption.id }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['projectGroup'])!.invalid && (editForm.get(['projectGroup'])!.dirty || editForm.get(['projectGroup'])!.touched)
        ) {
          <div>
            @if (editForm.get(['projectGroup'])?.errors?.required) {
              <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_assessment" ceetTranslate="ceetApp.groupResponse.assessment">Assessment</label>
          <select
            class="form-control"
            id="field_assessment"
            data-cy="assessment"
            name="assessment"
            formControlName="assessment"
            [compareWith]="compareAssessment"
          >
            @if (editForm.get(['assessment'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (assessmentOption of assessmentsSharedCollection(); track $index) {
              <option [ngValue]="assessmentOption">{{ assessmentOption.assessmentType }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['assessment'])!.invalid && (editForm.get(['assessment'])!.dirty || editForm.get(['assessment'])!.touched)) {
          <div>
            @if (editForm.get(['assessment'])?.errors?.required) {
              <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_itemList" ceetTranslate="ceetApp.groupResponse.itemList">Item List</label>
          <select
            class="form-control"
            id="field_itemList"
            data-cy="itemList"
            name="itemList"
            formControlName="itemList"
            [compareWith]="compareItemList"
          >
            @if (editForm.get(['itemList'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (itemListOption of itemListsSharedCollection(); track $index) {
              <option [ngValue]="itemListOption">{{ itemListOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['itemList'])!.invalid && (editForm.get(['itemList'])!.dirty || editForm.get(['itemList'])!.touched)) {
          <div>
            @if (editForm.get(['itemList'])?.errors?.required) {
              <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span ceetTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span ceetTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
