<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="ceet-classroom-limitation-heading"
        data-cy="ClassroomLimitationCreateUpdateHeading"
        ceetTranslate="ceetApp.classroomLimitation.home.createOrEditLabel"
      >
        Crear o editar Classroom Limitation
      </h2>

      <div>
        <ceet-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" ceetTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_classroom" ceetTranslate="ceetApp.classroomLimitation.classroom">Classroom</label>
          <select
            class="form-control"
            id="field_classroom"
            data-cy="classroom"
            name="classroom"
            formControlName="classroom"
            [compareWith]="compareClassroom"
          >
            @if (editForm.get(['classroom'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (classroomOption of classroomsSharedCollection(); track $index) {
              <option [ngValue]="classroomOption">{{ classroomOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['classroom'])!.invalid && (editForm.get(['classroom'])!.dirty || editForm.get(['classroom'])!.touched)) {
          <div>
            @if (editForm.get(['classroom'])?.errors?.required) {
              <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_learningResult" ceetTranslate="ceetApp.classroomLimitation.learningResult"
            >Learning Result</label
          >
          <select
            class="form-control"
            id="field_learningResult"
            data-cy="learningResult"
            name="learningResult"
            formControlName="learningResult"
            [compareWith]="compareLearningResult"
          >
            @if (editForm.get(['learningResult'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (learningResultOption of learningResultsSharedCollection(); track $index) {
              <option [ngValue]="learningResultOption">{{ learningResultOption.id }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['learningResult'])!.invalid &&
          (editForm.get(['learningResult'])!.dirty || editForm.get(['learningResult'])!.touched)
        ) {
          <div>
            @if (editForm.get(['learningResult'])?.errors?.required) {
              <small class="form-text text-danger" ceetTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span ceetTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span ceetTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
